[2019-12-19 03:55] AntoineDao opened #2 "Setup up CI"
No automated testing makes for sad PRs :cry:

[2019-12-19 18:32] mostaphaRoudsari commented on #2
It is technically set but for some reason it is not working!

https://github.com/ladybug-tools-in2/honeybee-model-schema/blob/master/.travis.yml#L11

Let me check again and see what's wrong. It might be similar to the issue that we had with queenbee tests that you fixed by moving the command into jobs.

[2020-01-09 02:15] chriswmackey commented on #2
I can confirm that this is all working now.

[2020-01-09 02:15] #2 closed

[2020-01-15 19:47] chriswmackey opened #13 "Add a `scripts` folder and put all scripts to generate the sample JSONs in there"
Right now, these scripts that generate the JSON samples are scattered across a few repos, basically living as comments at the end of test functions.

We should move all of these scripts here and regenerate the samples with each release.

More info on how this idea evolved is [here](https://github.com/ladybug-tools/honeybee-energy/pull/69#discussion_r366471004).

[2020-01-22 18:43] chriswmackey opened #16 "Write validators to check all references by name across a Model"
For while, I have been debating what should be a part of the validation process for a `Model` since we could be very lax with what's acceptable (just checking types, length of lists, etc.) or we could be intense and go all of the way to checking things like whether `Face3D`s are planar within a tolerance or whether `Room` geometries are closed volumes (both of which are things we expect users to d

[2020-01-22 18:59] chriswmackey commented on #16
I'm also realizing that implementing validators like this is potentially going to involve a lot of copy/pasting code from `honeybee-core` and `honeybee-energy`. If we decide that we should implement these validators, maybe we should consider making these dependencies of the `honeybee_shcema` package in order to reduce the amount of code that will get copy/pasted.

[2020-01-22 19:02] chriswmackey opened #17 "Write validators to ensure there are no duplicate names across a Model"
For now, I feel that the validation checks should catch any issues that would interfere with re-serialization of the objects from JSON into Python. Since we use the names of objects in order to reference them across the Model, this means that any duplicate names for the same object in a Model are clearly invalid. What is worse is that these types of errors might not even be caught in the re-serial

[2020-01-22 19:50] chriswmackey opened #19 "Consider writing validators to check Face3Ds are planar and Room volumes are closed"
This is something that I am really on the fence about and would appreciate feedback.

Generally speaking, we are trying not to burden the schema with a lot of geometry rules since, particularly for engines like EnergyPlus, the number of geometry rules that one needs to follow for a correct simulation are so restrictive that I can't imagine other software developers being able to follow them in the

[2020-01-22 21:33] mostaphaRoudsari commented on #19
I like your proposal. Limiting the number of checks here will be help other developers to focus on what is important the most instead of writing validation code.

The tolerance input is a must for the proposal to be successful. You might need to think about the best way to implement it though as in where do you want to have it as an input? Will we introduce it to every geometry object then? Or is

[2020-01-22 21:52] mostaphaRoudsari commented on #16
For the first proposal, I'm totally on board. My only word of caution would be to keep each independent validation in the object itself. For instance if the face is planar should be a validator of the Face3D object so you don't have to double check them in your model.

The second suggestion is to use `assert` for the checks that you assume may need to be turned off in some cases. Python `-O` optio

[2020-01-22 23:10] chriswmackey commented on #16
I'm a bit confused as to why you think `honeybee-schema` should be a dependency of `honeybee-core` but maybe this is an indication that you're thinking of the pydantic validation as a much smaller thing than I am.  In other words, maybe you're thinking the pydantic validation isn't meant to tell you whether the model will be re-serialized to Python without errors but it's instead something small t

[2020-01-22 23:45] chriswmackey commented on #19
I think I speak for a lot of people when I say that a separate tolerance input for each and every geometry object is a recipe for chaos. I'm just cringing at the thought of a Face3D being validated for planarity at a different tolerance than is used to check whether the Room it is a part of is a closed solid. I'm also cringing at the thought of editing tolerance when it exists in in thousands of p

[2020-01-23 02:32] mostaphaRoudsari commented on #19
I just raised a concern about tolerance otherwise I don't have any specific solution in mind. Having it at the document level similar to Rhino is fine but I'm not sure how you can implement that into Pydantic models. Is it a validator that you run after the object is created? I'm asking this since you won't be able to pass an argument to a Pydantic object `validator` on-load. The values are the ob

[2020-01-23 02:51] mostaphaRoudsari commented on #16
This is a tough one to reply in writing. You have to think about it backwards to make sense. Think about the Python libraries just as a different library that is generated based on the openapi schema not the other way around. I think it will be an issue in the long term.

We are writing `to_dict` and `from_dict` separate from the Pydantic objects and we have to keep them in sync. Ideally the `to_d

[2020-01-23 19:21] chriswmackey commented on #16
I think, as you said, this is tough to communicate in writing. I still don't understand what  you mean by certain things like Pydantic `to_dict`. Maybe we should just schedule a call at some point to go over this and I'll just refrain from adding any more validation for now. I have a lot of other tasks that I think are a higher priority anyway.

[2020-01-23 20:08] chriswmackey commented on #19
Right. We would have to put the validator on the Model object itself. So it would look something like:
[code]

There's be a little more code to get the holes and such but you get the idea.

[2020-01-24 01:10] chriswmackey commented on #13
This is done!

[2020-01-24 01:10] #13 closed

[2020-01-25 18:58] chriswmackey commented on #16
I'm going to close out this issue since it's currently being addressed within the honeybee CLI:
https://github.com/ladybug-tools/honeybee-core/pull/51

The other validators in the open issues on this repo should still be implemented. But, for now, I think the solution to this one is satisfactory.

[2020-01-25 18:58] #16 closed

[2020-01-28 02:20] theo-armour opened #27 "should honeybee viewer point to here now?"
Currently [honeybee viewer 3d]( https://www.ladybug.tools/honeybee-viewer/viewer-3d )  is reading the files from https://github.com/ladybug-tools-in2.

And it looks as if calls to there are being auto-magically updated to here.

Unless I hear advice to the contrary, I will update the links in the next update

And, btw, I urge you all to star the repo and manage the repo topics

[2020-01-28 03:03] theo-armour opened #28 "Honeybee Viewer 3D: next iterations"
[honeybee viewer 3d]( https://www.ladybug.tools/honeybee-viewer/viewer-3d )  is beginning to settle down.

Features include

* Display, load and view all the Honeybee Schema sample files in a GitHub repo
* Open a sample file using the operating system file dialog
* View Honeybee Schema sample files in 3D
    * On computer, tablet or phone
* View every key and value in the sample file with an accor

[2020-01-28 14:07] mostaphaRoudsari commented on #28
@theo-armour when I hover my mouse on the geometry it starts to break down and fall apart! It is kind of cool but I'm not sure that is the expected behavior or is it?

[2020-01-28 14:08] mostaphaRoudsari commented on #27
Correct. The link has changed to https://github.com/ladybug-tools/honeybee-schema/tree/master/honeybee_schema/samples

[2020-01-28 17:29] theo-armour commented on #28
Look at the title of the app in the top of the left menu. And read the comment in the help box near the title.

;-)

[2020-01-30 19:49] MingboPeng opened #29 "ScheduleTypeLimit: Default None is not carried out to openapi Json"
@chriswmackey  @mostaphaRoudsari
This `Default = None ` has been left out when translating to Json file, which causes .Net side a problem when loading the sample ScheduleTypeLimit json file from this repo.  Its upperlimit has been set to null, but its value type is float in python (double in C#).

This is an issue that double cannot be null in C#. However, I could make this a Nullable double for u

[2020-01-30 20:00] MingboPeng opened #30 ""Autosize" union type accepts string formatted number"
@chriswmackey
Currently, those autosizable parameters accepts either number or string, but it should be only accepting "autosize"/"autocalculate" if the input is string. In current schema design, a string formatted number is also accepted, but it could potentially cause a problem.

[2020-01-30 22:57] chriswmackey opened #32 "Add Schema for AirWallConstruction"
I am thinking that this will be a fairly light object with a property for changing the air flow per area of air wall.

[2020-01-30 22:59] chriswmackey opened #33 "Have all jsons in the samples folder generated from Python code"
Most of these samples are generated with code in the `scripts` folder but some are not. We should have them all generated from code so that we can ensure all of these samples are always up-to-date.

[2020-01-30 23:00] chriswmackey commented on #27
Now that you have the answer @theo-armour , I am going to close out this issue. This should be the location of the repo for a very long time to come.

[2020-01-30 23:00] #27 closed

[2020-01-30 23:05] chriswmackey commented on #28
Looking very cool, @theo-armour and I can see this is the "gamer" version.

Out of curiosity what are you using to color the faces and is there any way to color them by an attribute like `face_type` or '[properties][energy][construction]`?

[2020-01-30 23:05] mostaphaRoudsari commented on #29
`default=None` is how Pydantic defines an optional input. It is regardless of the real type of the object. See here: https://pydantic-docs.helpmanual.io/usage/schema/#field-customisation

I'm not sure what is the best approach for this. Does it mean that we should always have a default value for numeric fields?

[2020-01-30 23:07] mostaphaRoudsari commented on #30
Whatever decision we end up making let's not do this one. I can see this be a major problem in the long run.

[2020-01-30 23:10] chriswmackey commented on #29
Having a value of `None` is needed for certain uses of `ScheduleTypeLimit` that don't actually have an upper or lower limit. For example, temperature has a lower limit of -273 K but there's no upper limit. So I guess this is a case where a Nullable double is actually the right data type.

[2020-01-30 23:16] chriswmackey commented on #30
A string formatted number is not acceptable in the current schema because of this validator:
https://github.com/ladybug-tools/honeybee-schema/blob/master/honeybee_schema/energy/hvac.py#L75-L78

I realize that validators don't translate into the OpenAPI schema file, though, so that's probably why you thought this. We'll have to come up with some system for you to be aware of the validators on the C

[2020-01-30 23:26] MingboPeng commented on #29
Can we make it +infinity for this case?  so that pydantic can export this value to json.

[2020-01-30 23:33] MingboPeng commented on #30
@chriswmackey  is `None` able to be translated to OpenApi schema file. As we are discussing the same situation in ScheduleTypeLimit that `default=None ` won't be labeled in schema file.

[2020-01-31 02:04] mostaphaRoudsari commented on #29
@MingboPeng, do I understand correctly that your issue is that when the value is set to None the 'default' key is not exported to the schema JSON file? In that case we have to see how to get that exported from Pydantic instead of changing the default values from None.

[2020-01-31 16:00] MingboPeng commented on #33
@chriswmackey  I think we should be generating all default library from here as well, and to be shared across all honeybee projects.

[2020-01-31 17:12] chriswmackey commented on #30
For the case of the `"heating_limit"` and `"cooling_limit"`, I think we would set the default to be `-1` for autosize rather than `None`, though `None` should still be an acceptable input.

For the `ScheduleTypeLimit`, you can still tell if a given property has a default of `None` from the OpenAPI specification if it doesn't have a default and it doesn't appear in the `"required"` section of the o

[2020-01-31 17:28] chriswmackey commented on #29
@MingboPeng and @mostaphaRoudsari ,

I just explained here how you can tell from the OpenAPI specification if a property has a default of None:
https://github.com/ladybug-tools/honeybee-schema/issues/30#issuecomment-580823935
Let us know if this logic is good enough for you to use, @MingboPeng .

[2020-01-31 18:12] chriswmackey opened #34 "Consider distributing the libraries of default constructions, schedules, modifiers, etc. with this repo"
@MingboPeng raised the point that the library of constructions, schedules, etc. that come pre-installed with the plugins should probably be distributed in a more centralized location than they are right now, which is in specific Python packages of extensions.

For clarification, Mingbo was referring to the library that we usually want to live within the user's folder (as opposed to living within a

[2020-01-31 18:12] chriswmackey commented on #33
I am guessing that by "library" you mean the library of constructions, schedules, etc. that come pre-installed with the plugins.  This is a different issue from this one here so I'm opening another one to discuss it:

https://github.com/ladybug-tools/honeybee-schema/issues/34

[2020-02-01 00:03] MingboPeng opened #35 "ASHRAEClearSky and ASHRAETau in DesignDay are not translated correctly to openApi"
![image](https://user-images.githubusercontent.com/9031066/73582627-f87ee580-445b-11ea-9bc4-eb527a6684a7.png)

![image](https://user-images.githubusercontent.com/9031066/73582652-177d7780-445c-11ea-9df3-40f35b281144.png)

[2020-02-01 01:41] MingboPeng commented on #30
@chriswmackey  for` "heating_limit"` and `"cooling_limit"` case (including all other `autosize`, `autocalculate` params), making default value to -1 would work for fixing only accepting numbers, not string formatted numbers. But this only works when all honeybee client sides (rhino, grasshopper, revit..other developers) use -1 for default value or 'autosize'.

In terms of accepting None for these

[2020-02-01 01:53] MingboPeng commented on #34
@chriswmackey  thanks for summarize this.
In terms of file format to save the default constructions/schedules/Loads, I am gonna vote the schema json. But we can still keep 'library' folder with an empty idf file, in case users want to put their own idf data there for honeybee to load.

For loading idf in c#, i would suggest @chriswmackey  to add a command in CLI to convert idf to hbJson, so that w

[2020-02-01 02:10] chriswmackey commented on #35
@MingboPeng
I don't follow what is wrong here. It looks correct to me.

[2020-02-01 02:41] mostaphaRoudsari commented on #35
@chriswmackey, I think what @MingboPeng is referring to is the option is front of `AnyOf`. The options should be `ASHRAEClearSky` or `ASHRAETau` not `object` or `object`

[2020-02-01 03:07] MingboPeng commented on #35
Thanks @mostaphaRoudsari , right. I am not sure what is causing it, couldn't fix it. But this is the only issue I found when translating simulation parameter schema.

[2020-02-01 19:08] chriswmackey commented on #30
@MingboPeng ,
Can we just set up a call between you, Mostapha, and I so that we can understand why it is difficult to support some of these things.

In the first case of string formatted numbers, I am unclear on why something akin to the validator we have in Pydantic couldn't be implemented on your side.

Second, you'll have to clarify what you mean by "not accepting `None`" since this isn't reali

[2020-02-01 19:33] chriswmackey commented on #17
I just wanted to make a note of something @mostaphaRoudsari told me, which is that Radiance does not care if there are geometry objects with duplicate names. So, on the core object side, maybe we don't need to enforce that all of the geometry objects have unique names. Or, rather, maybe we should only do this if there's an `"energy"` key for the `"ModelEnergyProperties"` (since EnergyPlus does car

[2020-02-01 19:48] chriswmackey opened #36 "Add tolerance, angle_tolerance, and units_system as properties to the Model"
After thinking about this for a bit, I think the `Model` is the right place to specify the tolerance. Particularly because the tolerance is needed in order to ensure that Room volumes are closed and that all Face normals point outwards from the room, I think we will need this to be specified on the `Model` if we want to allow schema users the freedom of not checking the Face normals on their clien

[2020-02-01 20:25] chriswmackey commented on #35
I see. I just merged in a fix for it:
https://github.com/ladybug-tools/honeybee-schema/pull/37

It seems to be an issue with the Pydantic `Filed` class, which I wasn't making use of here except to add a description. Removing the `Filed` has fixed it so I think this is good enough to close this issue for now.

[2020-02-01 20:25] #35 closed

[2020-02-01 23:33] theo-armour commented on #28
@chriswmackey

Currently the colors are added by face_type. In future revisions the colors could be added or updated by any given set of parameters. And these can be updated at runtime.

It is also possible to render the faces using bitmap textures or even videos. The [Three.js]( https://threejs.org/ ) library is used extensively to develop games. Thus almost any visual effect you see in any game

[2020-02-01 23:46] theo-armour opened #38 "Move sample files to their own top-level folder"
How about moving the sample files to their own top level folder?

Currently the JSON sample files are in a Python-oriented sub-folder.

Following guidance of the "[separation of concerns principle]( https://en.wikipedia.org/wiki/Separation_of_concerns#HTML,_CSS,_JavaScript ) it would make sense to separate the code and the content into separate folders.

[2020-02-02 00:04] theo-armour commented on #36
@chriswmackey

Would you also consider adding

* Location data such as latitude and longitude
* UUIDs for items at least all items that have a physical representation such as rooms, face, shades, doors, apertures etc
* Guidance on where user-generated data may be added
* Guidance on version or revision management
* Guidance on naming files

On the last point, see recommendations such as this one:

[2020-02-02 00:13] theo-armour commented on #34
@chriswmackey @MingboPeng

And I vote that if the IDF or RAD files already exist they they kept available as well as the new JSONs because 'users hate change'. See https://gist.github.com/sleepyfox/a4d311ffcdc4fd908ec97d1c245e57dc

[2020-02-02 04:39] mostaphaRoudsari commented on #34
I like the idea of separating them from python libraries but I'm not sure if they should be part of the schema repository.

I think we should keep the format to what people are used to (e.g. idf, rad) and take care of parsing under the hood. I like the idea of adding a number of commands for taking care of translations.

[2020-02-02 16:12] chriswmackey commented on #38
The reason for their inclusion in `honeybee_schema` is so they get distributed with the [PyPI package associated with this repo](https://pypi.org/project/honeybee-schema/) and people can get all of the samples by typing:
[code]
Granted, I don't know of anyone making use of the samples in this way right now but is there an advantage that you see, @theo-armour , to moving them out of the Python pack

[2020-02-02 16:47] chriswmackey commented on #34
I'm just going to tally up the votes here on the issues raised:

1. It seems there are more votes for continuing to distribute the default libraries in engine-native format as much as possible. Of course, we bear in mind that some objects in these libraries have no engine-native format (like ModifierSets, ConstructionSets, and ProgramTypes) and so these have to be distributed as honeybee JSON. Als

[2020-02-02 17:15] chriswmackey commented on #36
@theo-armour ,
We have thought through some of these issues already and we have good recommendations for some of them:

- Up to this point, we have been defining a Model as just that which describes the building design and we have tried to make a clear separation between this and the things that define the type of study/simulation that is run with this design. So things like Radiance point grids a

[2020-02-02 18:38] chriswmackey opened #39 "Is is possible to raise errors for non-supported JSON keys in our tests"
@mostaphaRoudsari ,

I have spent ~ 1 hour combing though the Pydantic documentation to see if there is any way to raise an error if an object passed to [`parse_file` or `parse_obj`](https://pydantic-docs.helpmanual.io/usage/models/#helper-functions) contains keys that are not supported in the schema definition but I haven't been able to find anything. Everything seems to be set up with the intent

[2020-02-02 22:01] mostaphaRoudsari commented on #38
This looks like a duplicated discussion. Do we have a similar discussion in another repo which I have already replied to?

[2020-02-02 22:06] mostaphaRoudsari commented on #34
I think if we decide to separate them then they should have their own separate package / repo.

I understand why one would want to put them under the schema repo but it is not the natural place that one would look for samples or libraries. The main challenge in the case of separation will be keeping them in sync with releases. I have seen several examples that use branches in such cases for having

[2020-02-02 22:48] mostaphaRoudsari commented on #39
You should use Config class `extra` field for that.

Documentation: https://pydantic-docs.helpmanual.io/usage/model_config/

Here is an example:

[code]

[2020-02-02 22:59] mostaphaRoudsari opened #40 "Documentation version should match the release version"
The release is currently 1.11.1 and the documentation is 1.3.0

![image](https://user-images.githubusercontent.com/2915573/73616741-42df9e00-45e5-11ea-888b-c205848330f8.png)

See Queenbee openapi generator to see how the versioning can be automated:

https://github.com/ladybug-tools/queenbee/blob/20c849104f4c870f478d0bd6b0ad8c091c5b3fd5/queenbee/_openapi.py#L15

Once this change is made you will n

[2020-02-03 00:49] theo-armour commented on #38
@chriswmackey

I did not and do not ask that that the JSON sample files be in a different repository

I suggested and still suggest that the sample JSON files belong in a different place than in subfolder of a folder containing PY files.

Content files such JSON data in a Python subfolder implies a necessary dependency - that the JSON needs the prent Python files in order to exist. A practice like

[2020-02-03 02:08] chriswmackey commented on #39
So are you saying that this isn't something we can optionally do with the parsing/validation process but, instead, we need to decide that certain classes are fundamentally not extensible and implement `extra = Extra.forbid` on all of them?

I guess that we could do this for most classes except the properties classes like `ModelProperties`, which we want people to extend. We should discuss, this, t

[2020-02-03 02:16] chriswmackey commented on #33
This has been addressed via https://github.com/ladybug-tools/honeybee-schema/pull/41

[2020-02-03 02:16] #33 closed

[2020-02-03 02:31] chriswmackey commented on #38
There's some confusion here. I'll try to clarify as best I can in writing but maybe this should be cleared up with a short call.

First, @mostaphaRoudsari , this isn't a duplicate issue that I know of (unless this happened on some repo that I don't get emails about). If it is a duplicate, it would be very helpful to have a link to it since I don't know what your thoughts are.

Second, @theo-armour

[2020-02-03 03:00] chriswmackey commented on #40
Thanks @mostaphaRoudsari . I implemented the fix and verified that it is working correctly:
![image](https://user-images.githubusercontent.com/5567574/73622410-6e738000-4607-11ea-9190-367cbedf1cfa.png)

I'll implement the same fix now for the dragonfly schema.

[2020-02-03 03:00] #40 closed

[2020-02-03 03:18] chriswmackey commented on #34
A separate package sounds good to me. Does `honeybee_default_library` sound good for the name of the package? Or maybe we should remove the `honeybee` in front since it's not a true extension for honeybee and we don't want it to be imported by the core `honeybee`. So just `default_library`?

I think having this library separate will help a lot with ensuring we only install the library if it doesn'

[2020-02-03 17:24] chriswmackey commented on #34
`honeybee_standards`

[2020-02-03 17:40] mostaphaRoudsari commented on #39
Yes. It will be implemented in the object itself. If we want to use it I think we can make a baseclass with no extras and subclass all the restricted Pydantic objects from that one. I'm not sure if there is an option to turn it off and on.

[2020-02-03 18:10] chriswmackey commented on #29
I am going to close out this issue given that the discussion about this mostly happened over [here](https://github.com/ladybug-tools/honeybee-schema/issues/30#issuecomment-580823935) and we now have a solution to this issue over there.

[2020-02-03 18:10] #29 closed

[2020-02-03 18:22] chriswmackey commented on #30
I just wanted to document what we decided as a final solution to these issues this morning:
We will add three new objects to the schema to deal with these cases: `AutoCalculate`, `AutoSize` and `NoLimit`. These will be used in place of strings with the same name and `null` values such that all of these cases will essentially be unions of floats with these 3 objects. We like this solution above all

[2020-02-03 18:30] chriswmackey commented on #38
@theo-armour ,

Mostapha, Mingbo and I had a quick call this morning and we all decided that you were right. I'll work on pulling out the samples out of the Python package today.

For the record, Mostapha clarified that the reason why he originally put the samples in the Python package is because he eventually envisions using them for the objects that appear on the right side of the [documentation

[2020-02-03 18:36] chriswmackey commented on #39
Your implementation plan sounds good. Let's think about this more before we do it, though. It can be really helpful for enforcing that developers extend their JSONs where we ideally want them to but I don't know if we'd be killing some of the helpful features of JSON's flexibility in the process.

[2020-02-03 19:06] chriswmackey commented on #38
This has been addressed via https://github.com/ladybug-tools/honeybee-schema/pull/43.

[2020-02-03 19:06] #38 closed

[2020-02-04 05:19] chriswmackey commented on #30
Took a while to address but it' finally implemented.

[2020-02-04 19:42] MingboPeng commented on #30
Hi @chriswmackey, for some reason, the new "NoLimit" is not exported to OpenAPI correctly.

![image](https://user-images.githubusercontent.com/9031066/73780370-5c572600-475c-11ea-950d-d5fa25bd9c09.png)

[2020-02-04 22:06] chriswmackey commented on #30
Unfortunately, nothing I've tried seems to get rid of the extra `"allOf"` keys in the OpenAPI specification:
![image](https://user-images.githubusercontent.com/5567574/73791575-97635480-4770-11ea-852d-9c0588e1a6d4.png)
I may have to resort to hacking Pydantic, which may produce undesirable results. Is the extra heirarchy going to be a dealbraker for you, @MingboPeng ?

[2020-02-04 23:03] chriswmackey commented on #30
I have noticed that I can get this extra `"allOf"` hierarchy to go away only when:
1. I make the key required (so there is no default value)
2. I don't use the `Filed` class to add other properties like the description

This all seems to odd to me since the lack of the `"allOf"` keys is pretty clearly the desired OpenAPI output and there's no clear reason why the `Filed` class should change this.

[2020-02-04 23:16] chriswmackey commented on #30
I can confirm that the schema_extra capability can get the job done but it feels pretty hacky.  I'll hold off now before going any further.

[2020-02-05 02:26] MingboPeng commented on #30
@chriswmackey I think this is what we discovered previously: Union doesn't like Field in Pydantic.

[2020-02-05 03:05] mostaphaRoudsari commented on #30
It looks like a bug to me. My other comment was only clarifying that the sample that you linked to is a very different discussion.

You should go ahead and report it. It looks like adding using the combination of Union and Field makes unnecessary nested allOf objects. It might be that we should use Field differently with Union or it is simply a bug in Pydantic.

It is good that you have already fi

[2020-02-05 03:47] chriswmackey commented on #30
Sorry for incorrectly paraphrasing, @mostaphaRoudsari . I just knew that you wanted us to investigate more before reporting it. If we agree that this smells like a bug, I'll open an issue on Pydantic github. The code to recreate the issue should be minimal so hopefully they can tell us pretty quickly if it's a bug or not. I may also just implement my workaround for now, though I can see that Pydan

[2020-02-05 19:00] chriswmackey commented on #30
I'm just noting that I put in the workaround as part of this PR:
https://github.com/ladybug-tools/honeybee-schema/pull/45
... and it seems to be working in the generated docs so I'll close out this issue for now.

I also reported this issue on the Pydantic github:
https://github.com/samuelcolvin/pydantic/issues/1209
After we get a response from them as either a bug fix or a note that we're doing i

[2020-02-05 19:00] #30 closed

[2020-02-06 07:28] theo-armour commented on #17
@chriswmackey

Some observations:

In large projects with many, many rooms and many designers checking for duplicate names is likely to become quite involved

Adjacent rooms will have internal faces that are duplicates. If both faces have the same names then names will not unique, if the faces have different names then that might have different properties which not not be logical.

I note that Aut

[2020-02-06 08:21] theo-armour commented on #19
@chriswmackey

And then we can have a JavaScript routine that will double-check the Python results.  ;-)

[2020-02-06 08:36] theo-armour commented on #39
Something to think about:

https://threejs.org/docs/#api/en/core/Object3D.userData

Every object in Three.js has a ".userData" key. We are are encouraged to add user data there and not elsewhere. Of course, you can break the guideline if you wish, but I find this known point of entry has been useful and encourages experimentation,

In any case, if Three.js does not know something then it simply ig

[2020-02-07 00:22] chriswmackey commented on #36
This has been addressed!

[2020-02-07 00:22] #36 closed

[2020-02-07 00:26] chriswmackey opened #47 "Reorganize the samples into sub-folders"
I am thinking of doing this since we have a lot of samples and they are only going to increase in number. I see Tanushree already organized them into sub-folders to use them in her tests:
https://github.com/ladybug-tools-in2/energy-model-measure/tree/master/spec/files

I am thinking of doing the same thing here.

@theo-armour ,
I know that you are reading the files from the samples folder for your

[2020-02-09 23:53] chriswmackey commented on #47
@theo-armour ,
I think that I'll do this as part of my next PR.

[2020-02-10 00:24] chriswmackey commented on #47
This has been addressed via https://github.com/ladybug-tools/honeybee-schema/pull/48

[2020-02-10 00:24] #47 closed

[2020-02-10 00:25] chriswmackey commented on #32
This was addressed via https://github.com/ladybug-tools/honeybee-schema/pull/48

[2020-02-10 00:25] #32 closed

[2020-02-10 20:49] chriswmackey commented on #39
Thinking this over, I think forbidding extra keys on all of the objects except properties is going to help more than it hurts. I can see that bugs keep slipping through my fingers because certain keys are getting read in as extras.  So I think I'll implement this now more as a check to make sure that there still aren't bugs in the schema that I have missed.  Then, if we find it creates issues in t

[2020-02-10 23:48] chriswmackey commented on #39
Case in point:
I found 5 bugs in the schema repo just by implementing this. They wall were typos of things like `humidification_schedule` instead of `humidifying_schedule`.

[2020-02-10 23:58] chriswmackey commented on #39
This has been implemented via https://github.com/ladybug-tools/honeybee-schema/pull/50

I think it's such a good idea now that I am going to implement it on the dragonfly-schema repo as well.

[2020-02-10 23:58] #39 closed

[2020-02-11 09:45] theo-armour commented on #39
@chriswmackey

It will be really helpful to experimenters if they can add some data somewhere.

Would you consider adding a "userData" key, empty by default, where we can play without doing harm?

[2020-02-11 18:17] mostaphaRoudsari commented on #39
@theo-armour, Yes. I agree with you and I believe we have an open issue for that somewhere. Otherwise we should open one. A user_data field will be a good solution to ensure users will still have freedom to add extra data if needed. What do you think about this @chriswmackey?

[2020-02-11 20:19] chriswmackey commented on #39
Ah, sorry. I thought I had responded to this on a different post but I realize that what I had mentioned there (adding all additional `user_data` under the object properties like [FacePropertiesAbridged](https://www.ladybug.tools/honeybee-schema/model.html) as we suggest in the [wiki](https://github.com/ladybug-tools/honeybee-schema/wiki/1.2-Extending-the-Model-Schema)) might not be what you were

[2020-02-11 20:21] chriswmackey opened #51 "Discussion about how user_data should be documented/supported in the schema"
@theo-armour said:
It will be really helpful to experimenters if they can add some data somewhere.
Would you consider adding a "userData" key, empty by default, where we can play without doing harm?

@chriswmackey responded:

Ah, sorry. I thought I had responded to this on a different post but I realize that what I had mentioned there (adding all additional `user_data` under the object properties

[2020-02-11 23:37] theo-armour commented on #51
@chriswmackey

1. user data scope
Minimum: geometry scope
Nice: It's part of the prototype an appears everywhere

2. Appearance in Spec
It would be nice, at least to have a note in the spec, so we know this facility exists
It's also nice to have "empty things" somehow appear as reminders that appear from time

3. Case
You want to turn my beautiful JavaScript camelCase and sneak it into Python Snak

[2020-02-11 23:40] theo-armour commented on #28
Closing for now.

Colors can be discussed in future issues as and when there are some good options to test and explore.

[2020-02-11 23:40] #28 closed

[2020-02-11 23:40] mostaphaRoudsari commented on #51
@chriswmackey, on number 2 I would say yes. This is actually a very nice feature. We can start with geometry objects and see if people will ask for more.

I think it will be a key for flexible usage of the schema. Thank you @theo-armour for bringing it up.

[2020-02-14 19:38] chriswmackey commented on #51
Ok. Just to clarify, for 1 and 2, then. The only change that we are thinking of making now is to add a `user_data` key under each of the geometry object properties like so:
[code]
This system isn't going to be easily extensible to the other objects like Construction since there's no `'properties'` key for this object but I guess we could figure out a different system later for these objects if peo

[2020-02-14 23:14] mostaphaRoudsari commented on #51
@chriswmackey, Why are you adding it to properties? It can be added directly to the object. I think user_data can be related to properties or not.

What are you thinking about the type? Rhino is using a dictionary like object and call it UserDictionary: https://developer.rhino3d.com/api/RhinoCommon/html/P_Rhino_Runtime_CommonObject_UserDictionary.htm

There is also a different property for UserDat

[2020-02-16 17:41] chriswmackey commented on #51
Ok. I guess if it's an officially supported key, we don't need to worry about it breaking the rule where we only allow extension under Geometry.properties. And, yes a dictionary makes sense to me.

If someone is able to tackle this now, we can merge it in sooner. Otherwise, I'll get to it in a week.

[2020-02-19 00:50] MingboPeng opened #53 ""Abridged" for some types doesn't make sense."
Hi @mostaphaRoudsari @chriswmackey ,

As far as I know, these "Abridged" type are used for reference objects, such as `PeopleAbridged`, `ScheduleRulesetAbridged`, they all are referenced by its "Name" value in the rooms.

But there are 3 other groups that are currently labeled with "Abridged":

**1. \*SetAbridged:**  `WallSetAbridged`, `FloorSetAbridged`, `FloorSetAbridged`, `RoofCeilingSetAbridge

[2020-02-19 05:13] chriswmackey commented on #34
This was addressed by creating a `honeybee-standards` repo:
https://github.com/ladybug-tools/honeybee-standards

[2020-02-19 05:13] #34 closed

[2020-02-19 05:18] chriswmackey commented on #53
Read the wiki:
https://github.com/ladybug-tools/honeybee-schema/wiki/1.2-Extending-the-Model-Schema#a-note-on-abridged-schemas

All of those objects are abridged because they lack the data in the dictionary to completely reserailze the object:

PeopleAbridged lacks full definitions of schedule objects
ScheduleRulesetAbridged lacks full definitions of schedule type limits
WallSetAbridged lacks full

[2020-02-19 14:56] MingboPeng commented on #53
Thanks @chriswmackey, it seems I totally misunderstood what "Abridged" means, this doesn't mean the `Abridged ` object itself can be referenced from other locations.

Based on your description, so we can categorize Schema Object into following:

**1. Non-Abridged**: all object contains full data to serialize/re-serialize in object itself.

**2. Abridged-referenceable**: object itself doesn't conta

[2020-02-19 14:56] #53 closed

[2020-02-20 16:44] MingboPeng opened #54 "OpaqueConstruction does not exist in OpenAPI"
I am trying to use recreate a complete model from the schema.

Example I am referencing is:
[`model_complete_single_zone_office`](https://github.com/ladybug-tools/honeybee-schema/blob/master/scripts/sample_model.py#L37)

Here uses `OpaqueConstruction`, instead of `OpaqueConstructionAbridged`.
https://github.com/ladybug-tools/honeybee-schema/blob/3bf586c7f9476483886277a4f897c7ddf58c16a3/scripts/sam

[2020-02-21 02:51] chriswmackey commented on #54
Now that we had a call about this, @MingboPeng , do you want to close out this issue?  Or explain the solution we came up with (the `add_to_model` methods) and change the title of the issue?

[2020-02-21 03:03] MingboPeng commented on #54
@chriswmackey, yes, closing this.

[2020-02-21 03:03] #54 closed

[2020-02-22 03:19] chriswmackey commented on #51
FYI, I think I'll do this once we put in place some systems that automatically trigger builds of other repos like honeybee-schema-dotnet and dragonfly-schema (should be next week).  I think this is a good case we can use to test these systems out.

[2020-02-24 23:56] chriswmackey opened #55 "Implement continuous deployment github actions to trigger build of honeybee-schema-dotnet"
This is the repo that needs the "CD-style" script like the one on pollination-server. This should trigger a  rebuild and re-release of the [honeybee-schema-dotnet](https://github.com/ladybug-tools/honeybee-schema-dotnet) repo.

It should send the [Model OpenAPI definition](https://github.com/ladybug-tools/honeybee-schema/blob/gh-pages/model.json) and [simulation-parameter OpenAPI definition](https

[2020-03-13 16:36] chriswmackey commented on #55
Feel free to do the honors of closing out this issue @AntoineDao .

[2020-03-13 16:39] chriswmackey opened #57 "Add Non-Abridged ConstructionSet, Construction, ProgramType, Schedule to the shcema"
This is a necessary pre-step to supporting interfaces that don't want to deal with the referencing of other objects by name within resources. The non-abridged versions of these objects can be found by calling `to_dict` methods in the core Python libraries.

[2020-03-13 23:30] #55 closed

[2020-03-27 17:05] chriswmackey commented on #51
This has been addressed via https://github.com/ladybug-tools/honeybee-schema/pull/58

[2020-03-27 17:05] #51 closed

[2020-03-30 15:31] chriswmackey commented on #57
We already have the following classes documented:
* [OpaqueConstruction](https://github.com/ladybug-tools/honeybee-schema/blob/master/honeybee_schema/energy/construction.py#L60)
* [WindowConstruction](https://github.com/ladybug-tools/honeybee-schema/blob/master/honeybee_schema/energy/construction.py#L26)

The specific classes that need to be added are the following (links are to the from_dict meth

[2020-03-30 16:15] chriswmackey commented on #57
Pydantic documentation:
https://pydantic-docs.helpmanual.io/usage/schema/

[2020-04-03 21:26] chriswmackey commented on #57
This was addresed by @saeranv via https://github.com/ladybug-tools/honeybee-schema/pull/59

[2020-04-03 21:26] #57 closed

[2020-04-03 21:27] chriswmackey opened #60 "Change the "name" property to be "identifier""

[2020-04-04 00:42] chriswmackey commented on #60
This is being addressed via https://github.com/ladybug-tools/honeybee-schema/pull/61

[2020-04-04 00:42] #60 closed

[2020-04-06 18:48] MingboPeng opened #64 "Missing Any of type in AirBoundaryConstruction"
![image](https://user-images.githubusercontent.com/9031066/78593923-69a09780-7815-11ea-9055-0ef3fbd2b563.png)

![image](https://user-images.githubusercontent.com/9031066/78595379-eb91c000-7817-11ea-88fa-ccc13835efb8.png)

![image](https://user-images.githubusercontent.com/9031066/78595584-3b708700-7818-11ea-961e-034ac9c3054a.png)

![image](https://user-images.githubusercontent.com/9031066/78595624

[2020-04-06 23:47] mostaphaRoudsari commented on #64
@chriswmackey figured out the workaround for this one once before. We should probably document this in Wiki and have an extra check in tests to ensure we don't end up with such cases.

[2020-04-07 21:47] chriswmackey commented on #64
I addressed it with this for now:
https://github.com/ladybug-tools/honeybee-schema/pull/68

And the documentation of the workaround is in the issue on the pydantic repo:
https://github.com/samuelcolvin/pydantic/issues/1209

BTW, there's another big issue that I just fixed, which is that we were using Python 3.6 on Travis with pydantic 1.4 but these two are not compatible (it resulted in a subtle b

[2020-04-07 21:47] #64 closed

[2020-04-08 00:32] MingboPeng opened #71 "Missing AnyOf type for Autocalculate in People"
![image](https://user-images.githubusercontent.com/9031066/78731773-a3a19480-790e-11ea-9b78-c677535bd3b2.png)

[2020-04-08 23:03] MingboPeng opened #72 "Should nonAbridged obj inherit from abridged object?"
I will use OpaqueConstructionas an example:

The OpaqueConstructionAbridged takes a list of material **names (string)** for its **layers**, however, the non-abridged OpaqueConstruction also requires the same material **names (string)** for its **layers** while it takes real material objects. This doesn't make sense.

I am imagining the Abridged and non-Abridged objects only should differs some of

[2020-04-08 23:20] saeranv commented on #72
Is there a reason to require both a layers and materials property in the OpaqueConstruction class if it's redundant (even the order is the same). I wonder if this is just a typo?

If we can simplify to just using one (i.e just have materials), then you can have list of strings in the abridged version, list of objects in the non-abridged version, and we can still keep the logic and efficiency of in

[2020-04-09 00:58] MingboPeng commented on #72
Hi @saeranv,

This happens because of the inheritance.

Because **OpaqueConstruction** is based on **OpaqueConstructionAbridged**, during the translation to OpenAPI, this "**layer**" property is added to **OpaqueConstruction**. In the final product, there isn't an inheritance between abridged and non-abridged, even though I really want to find a way to maintain these inheritance relationship in fi

[2020-04-09 01:34] saeranv commented on #72
@MingboPeng,

Now that I'm looking at OpaqueConstructions in honeybee-energy, I see that having a separate material and layers isn't a typo, and there is a difference:

![image](https://user-images.githubusercontent.com/1685956/78848461-dbc4d800-79df-11ea-9b49-4d1e57a3fa69.png)

Materials is the list of objects, and Layers is the list of string identifiers (not names as I initially thought). @chri

[2020-04-09 03:45] MingboPeng commented on #72
@saeranv  Thanks for checking the honeybee-energy. From the screenshot, this layers is just returning the list of materials' names/identifiers.

In another word, it is just like a special getter for materials, I don't see any benefit here why we want to keep two different terms for one concept. Why don't we rename layers to material_names or something like that? or keep layers, use layers, and lay

[2020-04-09 19:41] MingboPeng opened #73 "Wrong slat_orientation options in EnergyWindowMaterialBlind"
I guess this third option should be the description of slat_orientation, not the option.
![image](https://user-images.githubusercontent.com/9031066/78934117-60fbcb80-7a78-11ea-9a46-79fe6994d97f.png)

[2020-04-09 20:48] saeranv commented on #72
@MingboPeng good questions, unfortunately I don't have any answers for why we need a special getter. Think this is ultimately only a question Chris can answer.

My guess is that there may be use cases where there is a benefit in maintaining a separation between a list of complex datatypes (materials) and primitive datatypes (layers) which have varying levels of mutability (i.e for checking if mate

[2020-04-13 16:04] chriswmackey commented on #71
This has been addressed.

[2020-04-13 16:04] #71 closed

[2020-04-14 21:15] chriswmackey commented on #73
Looks like a bug in Pydantic. I'll see if I can fix it with the PR that I'm about to send.

[2020-04-14 22:42] chriswmackey commented on #73
Not a bug in pydantic. Just some wrong code we had from when we just started this repo.

[2020-04-14 23:43] chriswmackey commented on #73
This issue ahs been addressed via https://github.com/ladybug-tools/honeybee-schema/pull/77

[2020-04-14 23:43] #73 closed

[2020-04-15 18:08] chriswmackey opened #78 "Should we replace all use of Radiance Void in the Schema with None?"
I have come to realize that all of the cases where we use `Void` in the schema have the same effect as `None`. So, should we just get rid of the use of `Void` in the schema and have the honeybee-radiance `Void.to_dict()` method return `None`?  It looks like this will make the schema a lot simpler since we'd only have to deal with the `None` type and not some specially-crafted `Void` object.

@most

[2020-04-15 18:09] chriswmackey commented on #78
BTW, once we get a consensus on this, I can export some updated samples of the Modifiers that use null instead of `Void`

[2020-04-15 18:40] chriswmackey commented on #78
I hope people don't mind that I put the critical flag here but I did so because I realized that the decision on this is likely to hold up a lot of other things I'm currently addressig in honeybee-radiance and Saeran is addressing in honeybee-schema.

[2020-04-15 19:18] chriswmackey commented on #78
I think that I am just going to implement this. It makes too much sense to hold up development for it and I'll take the risk of having to revert it in the event that Mostapha thinks of some case where `void` doesn't mean the same thing as "no modifier".

[2020-04-15 19:19] saeranv commented on #78
I agree, given that we're using a default of None for other objects in the schema. It doesn't make sense to make an exception just for Void().

[2020-04-15 19:54] chriswmackey commented on #78
Ok. I updated all of the samples in honeybee-schema:
https://github.com/ladybug-tools/honeybee-schema/pull/79
... and I will add this to the PR that I am currently working on here for honeybee-radiance.

I'll close out the issue here and feel free to open it, @mostaphaRoudsari , if you feel this was a step in the wrong direction.

[2020-04-16 21:40] saeranv opened #80 "BSDF Sample JSON unfinished"
@chriswmackey

Looks like the modifier_bsdf_klemsfull.json is missing some data: https://github.com/ladybug-tools/honeybee-schema/blob/master/samples/modifier/modifier_bsdf_klemsfull.json

[2020-04-16 21:53] saeranv opened #81 "Refraction index None results in type ValidationError"
For the glass sample json:
https://github.com/ladybug-tools/honeybee-schema/blob/c1a894c21d53188f5326d72a58995a33cdf19d25/samples/modifier/modifier_glass_generic_exterior_window.json#L2-L12

I currently have the Field set like this for the refraction index:
[code]

Which is resulting in a ValidationError, for the refraction index set to null, since 'none is not an allowed value'.

So it looks like

[2020-04-16 22:07] saeranv commented on #81
Update: this is also effecting "modifier_glass_air_boundary.json".

[2020-04-17 02:10] saeranv opened #82 "Remove 'void' object from JSON samples?"
Currently we're defining 'Void' objects in modifiersets:

https://github.com/ladybug-tools/honeybee-schema/blob/c1a894c21d53188f5326d72a58995a33cdf19d25/samples/modifier_set/modifierset_complete.json#L129-L140

Should we be changing this to None? As I understand it, the Void object is no longer be referenced in as a default modifier, so it's no longer part of the reference modifiers (Union[Trans,

[2020-04-17 02:13] saeranv commented on #82
Whoops, I just saw that the PR addressing exactly this issue hasn't been merged in yet. I thought we already had merged it.

Nevermind, closing this issue.

[2020-04-17 02:13] #82 closed

[2020-04-17 15:08] chriswmackey commented on #80
It was removed in the most recent PR. I'll add a new sample after we solve this issue:
https://github.com/ladybug-tools/honeybee-radiance/issues/67

[2020-04-17 15:41] chriswmackey commented on #81
Huh. Where did this default value of 1.52 come from, then? The only reason why that happens right now is because @mostaphaRoudsari sets it to `None` in the `__init__` of the `Glass` modifier class:
https://github.com/ladybug-tools/honeybee-radiance/blob/master/honeybee_radiance/modifier/material/glass.py#L57

Maybe we should change the default value in `__init__` to be `1.52` instead of `None` if

[2020-04-17 15:53] chriswmackey commented on #81
Actually, it seems that the use of None right now results in illegal (or at least very implicit) Radiance strings. I am going to change it.

[2020-04-17 16:03] saeranv commented on #81
Re: the '1.52':

It's interesting it's in the docstrings it's mentioning 1.52, but the actual default is set as 'None'.

https://github.com/ladybug-tools/honeybee-radiance/blob/6e73b338c4b43135caaa7826d9688d9f7526fddc/honeybee_radiance/modifier/material/glass.py#L25-L66

[2020-04-17 21:53] chriswmackey commented on #81
It looks like it's a default that is built into the Radiance glass modifier. I made a change to honeybee-radiance so that we now explicitly say `1.52` on `__init__` and so that we always write a number into the JSON.

Please updated the JSON samples to use `1.52` in the PR you are working on now, @saeranv .

Explicit is better than implicit.

[2020-04-17 22:08] chriswmackey commented on #78
Ok. So @mostaphaRoudsari enlightened me to the fact that there are actually a few edge cases in Radiance where `void` is not the same thing as `None`.  Specifically, the alternate material on the `Mirror` and `Illum` classes can be either `None`, meaning this alternate material has the same properties as the base material, or it can be `void`, meaning that the alternate material renders the object

[2020-04-17 22:58] saeranv commented on #78
@chriswmackey I'll continue to use None for defaults then.

I'll import Void back into the ModifierSet module so we can include it in the Union references if it's used in Mirror or Illum, let me know if this is wrong, but I assume if we're recursively generating these dicts, and there's a void for Mirror/Illum, it's going to pop up in the json, and so we need to check for it.

[2020-04-17 23:37] saeranv opened #83 "Pydantic throws Validation error if 'null' provided for json values."
This is the same error as was occurring for this issue: https://github.com/ladybug-tools/honeybee-schema/issues/81, but I'm raising this for the more general case.

Essentially, it seems that Pydantic doesn't accept 'null' as a valid default for properties, and will through a ValidationError "none is not an allowed value (type=type_error.none.not_allowed). For the previous issue we resolved this b

[2020-04-18 14:30] mostaphaRoudsari commented on #81
This is not desired. I wish you would have waited for me a couple of hours before making the change and trusted that I might have a reason for keeping the default to None.

The refraction index is an option input in Radiance. This means that both of these definitions are valid in radiance:

[code]

You should be able to handle it by making the refraction_index optional in the Pydantic schema.

[co

[2020-04-18 15:07] mostaphaRoudsari commented on #83
This is happening because you have set the default to a value and not None in your Pydantic schema:

https://github.com/ladybug-tools/honeybee-schema/blob/6e68ebc9f7a6ef54991f03bae46ee6a71189dd78/honeybee_schema/radiance/material.py#L21

If you want to accept None then you should be using Optional: https://pydantic-docs.helpmanual.io/usage/models/#required-optional-fields

Keep in mind that doesn'

[2020-04-18 15:20] mostaphaRoudsari commented on #83
Actually Optional might be just fine. The OpenAPI schema looks correct. See the default value for modifier. It is set to `Void` correctly.

[code]

[2020-04-18 15:26] mostaphaRoudsari commented on #78
Hmm... I'm not sure why using None is desired in this case? To me `Void` is the explicit option and the right one to use.

Is the extra complexity really major enough to make this change? From what I can see it's only setting the value to None versus Void. Why dealing with Void is 'a lot' harder than dealing with other objects?

[2020-04-18 22:22] chriswmackey commented on #81
A few things to note:
1. I understand that both radiance strings are acceptable and we obviously need to support the parsing of both and the change that I made supports both.
2. The Pydantic code you have there will not work with honeybee-radiance as it exists before my changes. You would have to use `default=None` for `None` to be an acceptable input in the schema. And making `None` a default inp

[2020-04-18 22:43] chriswmackey commented on #81
One other thing to note about point 2. there is that @MingboPeng is going to get a headache on the honeybee-schema-dotnet side if `None` is an acceptable input for a float slot.

[2020-04-18 23:34] mostaphaRoudsari commented on #81
Did you notice the use of `Optional` in my code? You can see a full-fledged example [here](https://github.com/ladybug-tools/honeybee-schema/issues/83#issuecomment-615886519).

There is no need for adding None as an option. Also you are confusing Pydantic model with OpenAPI specification. There will be no issues on OpenAPI and dotnet side if we use Optional.

Here is a simple example that will hope

[2020-04-19 00:58] chriswmackey commented on #81
I didn't realize that. So, if we use `Optional`, this means that `None` is only acceptable on the Python end (or any other language that's not stringly types) but @MingboPeng cannot use `None` on the dotnet end (it just shows up as 1.52 for him)? I guess that's ok, then.

[2020-04-19 06:30] MingboPeng commented on #81
It is good to know we can use `Optional `to wrap the `Union`. Previously there are places like boundary condition with Union type, and cannot set Outdoors as the default value, which ended up being an issue when de-serialize string `"boundary_condition": null` back to schema object.

Now I guess we can add all places with Union like this if it is not required.

[2020-04-19 06:52] MingboPeng opened #86 "Making type "number" with format "double"."
In our current pydantic code, all number type properties are not set explicitly with its "format":
![image](https://user-images.githubusercontent.com/9031066/79681285-19e3a800-81e7-11ea-8b15-977f79840951.png)
![image](https://user-images.githubusercontent.com/9031066/79681353-b0b06480-81e7-11ea-921b-5076a166e03d.png)

This creates a lot of headaches that I have to postprocess all number type to be

[2020-04-19 16:52] chriswmackey commented on #81
Ok. I changed the PR I was sending to honeybee-radiance to just elaborate the docstring so it's clear that this is a case where `None` implicitly means `1.52`. If @saeranv can change the honeybee-schema PR to use `Optional`, then we are all set here.

@MingboPeng , if you want to open a separate issue for wrapping all Unions with a default of `None` in the `Optional` tag, then we can get to it at

[2020-04-19 18:02] mostaphaRoudsari commented on #81
If @MingboPeng can provide a list of items that are facing this issue or a pattern to find them it should be an easy fix.

I'm also thinking that we might want to start writing tests to catch cases that are valid in Pydantic in general but are not desired for our OpenAPI schema.

[2020-04-20 05:52] saeranv commented on #83
@mostaphaRoudsari

Perfect! I'll inspect these more closely tomorrow, but it looks like Optional is the pydantic way to do this. Can't believe I didn't find this when I was searching through the pydantic docs myself!

[2020-04-20 11:28] #86 closed

[2020-04-20 12:41] mostaphaRoudsari opened #88 "add base info as an input for get_openapi method"
We are currently using two separate code for honeybee versus dragonfly schema. The one in dragonfly is an older copy of the one in honeybee-schema. There is nothing honeybee specific about how the openapi spec is generated. We have to make this method more generic and use it in both libraries.

[2020-04-20 13:39] #88 closed

[2020-04-20 14:25] MingboPeng commented on #88
I need to do the same thing for generator for both repos

[2020-04-21 03:25] chriswmackey commented on #78
Sorry for responding late here. I am of a similar view now that, as long as its safe in the schema to specify both `None` and `Void` for a modifier of a modifier, then the question of whether we make the default `None` or `Void` (using the `Optional` tag for `Void`) doesn't matter that much. I also think I see now that `Void` really has just one meaning in Radiance, which is "an invisible modifier

[2020-04-21 03:35] chriswmackey commented on #78
Let me also just add one more thing that I think is important:
Let's not use the string `"void"` for any place that a Modifier is supposed to be in. Either its a `Void` object or it's `None`. I don't think we were ever considering using the `"void"` string here in the schema repo but this case was all over the Python libraries until last week and I am glad that it is currently removed.

Having bot

[2020-04-21 05:57] saeranv commented on #83
This is now addressed with the use of Optional in honeybee-schema. Closing.

[2020-04-21 05:57] #83 closed

[2020-04-21 18:10] mostaphaRoudsari commented on #78
Agreed that using `"void"` is not a good idea.

Between the other two choices I think using `Void` is the better decision here and will protect us from any confusion in the future. It also makes it easier for other 3rd party developers to deal with it from the code generated by the generators.

At the same time I understand that you have already made this change to honeybee-radiance and if it is a

[2020-04-23 20:20] MingboPeng opened #97 "All union types for boundary condition should be non-null"
As discussed in this issue: https://github.com/ladybug-tools/honeybee-schema/issues/81#issuecomment-616053391. Instead of leaving the boundary condition nullable, we should either make boundary_condition under Face, Aperture, Door required, or optional with default value as Outdoors.

[2020-04-23 20:28] MingboPeng opened #98 "Make face_type wall as default instead of none."
Currently Face's face_type is not specified with default value, it should be Wall or make this field required.

[2020-04-24 18:23] chriswmackey commented on #81
Given that the PR regarding `refraction_index` is merged, I think we can close this.  Wrapping unions in the `Optional` tag should happen in a separate issue.

[2020-04-24 18:23] #81 closed

[2020-04-24 18:31] chriswmackey commented on #97
So there's a specific problem with trying to set a non-null default for `boundary_condition` as it has been implemented for `Faces` in the core Python libraries. If the user gives us a  `null` here, we determine the boundary condition using [the relationship of the geometry to the WorldXY plane](https://github.com/ladybug-tools/honeybee-core/blob/master/honeybee/face.py#L88-L89). Things below this

[2020-04-24 20:16] MingboPeng commented on #97
Hi @chriswmackey , thanks for your comments, now I know why you keep these nullable. But one comment to this auto-assignment concept: I think from the schema perspective, this auto-assignment concept has nothing to do with the schema.

Allowing null to be meaningful for boundary_condition works with core python libraries, because you have implementations to "translate" null to be meaningful, but i

[2020-04-25 19:25] mostaphaRoudsari commented on #97
I agree in this case that we can enforce boundary condition in the schema. As @MingboPeng suggested it doesn't mean that we can keep our Python code as is and it should still work. The side effect is that one must breakdown the geometry when part of it is below XY plane. To me that's a fair expectation.

[2020-04-25 20:30] MingboPeng opened #101 "Duplicated properties in objects with allof, which makes all properties optional"
In all objects with inheritance, it's "properties" field is duplicated at top level (outside of allof), which should not exist.  This also makes all properties optional while generating c# client.

I am not sure if this "additionalProperties" is a property or comes with OpenAPI.

cc: @mostaphaRoudsari

![image](https://user-images.githubusercontent.com/9031066/80290241-17ff7480-8712-11ea-911d-e7ba

[2020-04-25 20:32] MingboPeng commented on #101
@mostaphaRoudsari  this might be why our current viewer doesn't like this json file.

[2020-04-25 20:56] mostaphaRoudsari commented on #101
@MingboPeng, can you help me to find this issue by letting me know which file are you looking at?

additionalProperties is a key in OpenAPI: https://swagger.io/docs/specification/data-models/dictionaries/

[2020-04-25 21:02] mostaphaRoudsari commented on #101
I'm seeing it now in the one with inheritance. You might be right. I will give it a try. The documentation is currently broken after the most recent commits. I'm also working on that.

[2020-04-25 21:23] MingboPeng commented on #101
@mostaphaRoudsari  Thanks, if I am reading this OpenAPI doc correctly:
additionalProperties should be in this level, right?
![image](https://user-images.githubusercontent.com/9031066/80291096-93642480-8718-11ea-9439-5f973c22c83f.png)

In terms of how additionalProperties should be defined:
currently, we don't define any type to this, which means it;s type is object, it can be anything. I am not su

[2020-04-25 22:17] mostaphaRoudsari commented on #101
Hi @MingboPeng, See the attached file. This should address both problems that you have raised here:
[model_inheritance.zip](https://github.com/ladybug-tools/honeybee-schema/files/4534208/model_inheritance.zip)

Let me know if you see any other issues.

I will push the fix once I can figure out what is going on with the `ModelRadianceProperties`.

As for `additionalProperties` we set it to `false`

[2020-04-25 23:47] mostaphaRoudsari opened #102 "ModelRadianceProperties doesn't translate correctly to OpenAPI"
I noticed that the documentation is failing after we merged the PR with ModelRadianceProperties.

https://travis-ci.org/github/ladybug-tools/honeybee-schema/builds/678266564

This is because of a bug in Pydantic when one uses `Union` with custom `Field`. @chriswmackey has already reported the issue and I just sent a PR which should fix the problem: https://github.com/samuelcolvin/pydantic/pull/143

[2020-04-26 03:17] MingboPeng commented on #101
@mostaphaRoudsari thanks, this works well,

For additionalProperties, I got mixed with userData. I will open another issue for that case.

[2020-04-26 03:20] #101 closed

[2020-04-26 19:23] chriswmackey commented on #80
This has been addressed via https://github.com/ladybug-tools/honeybee-schema/pull/105

[2020-04-26 19:23] #80 closed

[2020-04-26 19:24] chriswmackey commented on #98
Are we closing this issue now, @MingboPeng , now that you closed the PR?

[2020-04-26 19:45] MingboPeng commented on #98
Oh right, closing!

[2020-04-26 19:45] #98 closed

[2020-04-27 19:05] chriswmackey opened #106 "Change bsdf_data from bytes to str"
Since bytes are not serializable to JSON, we need to [change this line here](https://github.com/ladybug-tools/honeybee-schema/blob/master/honeybee_schema/radiance/modifier.py#L229). It should be `str` instead of `bytes`.

@saeranv , can you take care of this when you add the dynamic objects?

[2020-04-27 19:12] chriswmackey opened #107 "Document radiance state schema and dynamic properties"
Dynamic states have now been added to honeybee-radiance and we need to document their schemas in this repo.  Specifically, we need the two state object schema in [this honeybee-radiance module](https://github.com/ladybug-tools/honeybee-radiance/blob/master/honeybee_radiance/state.py) to be documented.

We also need the Aperture, Door, and Shade radiance property schemas to be extended to have thes

[2020-04-27 19:14] chriswmackey commented on #107
I will add a sample Model now that has a bunch of dynamic states so that you can use it for testing.

[2020-04-27 19:38] chriswmackey opened #108 "Document View and SensorGrid Schemas"
In order for schema users to be able to assemble all that is needed for a radiance simulation, we will have to document the schemas that we currently use for Radiance [Views](https://github.com/ladybug-tools/honeybee-radiance/blob/master/honeybee_radiance/view.py#L377-L390) and [SensorGrids](https://github.com/ladybug-tools/honeybee-radiance/blob/master/honeybee_radiance/sensorgrid.py#L51-L55). Th

[2020-04-27 20:42] chriswmackey commented on #107
Samples have been added for dynamic states and a full Honeybee model with a range of dynamic states has been added:
https://github.com/ladybug-tools/honeybee-schema/pull/109

This should be all that is needed to test everything.

[2020-04-28 03:08] saeranv commented on #108
@chriswmackey I think I'm going to need a meeting to go over what documentation here means. I thought all our docs were autogenerated?

[2020-04-28 22:28] chriswmackey commented on #97
I just checked and saw that we already enforce the user to supply a boundary condition (there is no default and we do not auto-assign it). I also agree with you here that it's better to enforce that the user supplies it. Does this mean that we can just close out this issue?

[2020-04-28 22:32] chriswmackey commented on #78
I just wanted to say that we can make the change to honeybee-schema now (use a default of `Void()` and make it `Optional`) and everything will still work with the honeybee-radiance end of things. So, if someone wants to implement the change here, I thinks it's fine and I can implement a corresponding change in honeybee-radiance that makes things "look" consistent later.

[2020-04-28 22:33] chriswmackey commented on #108
The Sensor schema has been updated so this is all ready to be documented.

[2020-04-28 23:16] saeranv commented on #107
@chriswmackey

Just to confirm, I'm creating Abridged and non-Abridged versions of these state objects, correct?

[2020-04-29 20:30] saeranv commented on #107
Second question:

For the Aperture, Door properties, the docstrings refer to 'states' without any further specification. But looking at what object is being made from the from_dict methods, it looks like the RadianceSubFaceState is being generated from an <i>abridged</i> dict
.
So, to confirm - should the schema type be limited to lists of RadianceSubFaceStateAbridged only?

[2020-04-29 20:31] saeranv commented on #107
FYI: I believe I also need to add a new schema object for 'Shade' (currently in honeybee-core) for the State schema, as it doesn't look like it's been implemented yet.

[2020-04-30 17:47] chriswmackey commented on #107
Sorry for the late response here. We only need the abridged version of the two State objects for the Model schema. So only Abridged for now.

[2020-04-30 17:50] chriswmackey opened #110 "Add Metal schema to the radiance Modifiers"
The [Metal Modifier](https://github.com/ladybug-tools/honeybee-radiance/blob/master/honeybee_radiance/modifier/material/metal.py) is fully-supported in honeybee-radiance now. As the inheritance in the module demonstrates, the Metal modifier is exactly like the Plastic modifier but with a different type key and a different default specularity.

[2020-05-01 00:23] saeranv commented on #107
@mostaphaRoudsari , @chriswmackey

We have an issue with circular imports occuring in the schema version of states, that I can't figure out how to resolve.

This issue is that in our schema, we have the following import logic:

state.py    // imports Shade from model.py
model.py // imports ShadeRadiancePropertiesAbridged from radiance.properties.py
radiance.properties.py // imports RadianceSubFace

[2020-05-02 20:36] chriswmackey opened #112 "Should we create a separate StateShade class for dynamic radiance shades?"
I have been thinking lately that we might end up regretting the use of honeybee-core `Shade` objects for the radiance state-assigned shades and it might be much more explicit and clear to make a new `StateShade` class that is meant to be used for shades within dynamic radiance states. After all, the only properties on the this type of state-assigned shade that have any meaning are the geometry, th

[2020-05-02 20:59] mostaphaRoudsari commented on #112
Hey @chriswmackey, I like the idea and I'm in agreement with the points that you are making here.

[2020-05-03 17:56] chriswmackey commented on #112
Thanks for the quick feedback, @mostaphaRoudsari .  I will start working on the change in the honeybee-radiance library, then.  What are your thoughts about keeping the Grasshopper UI using the `Shade` component to specify these state-assigned shades and just doing the conversion to a `StateShade` inside the component?

[2020-05-03 20:43] mostaphaRoudsari commented on #112
I think for the same reasons that you mentioned above we should create a new component and avoid any possible confusion.

[2020-05-03 23:05] mostaphaRoudsari commented on #97
@MingboPeng, I'm going to close this issue for now. Feel free to reopen or create a new issue if you think we should continue the conversation.

[2020-05-03 23:05] #97 closed

[2020-05-04 04:27] theo-armour opened #113 "Honeybee Schema and Dragonfly schema questions"
I am looking at the Honeybee and Dragonfly schemas From looking at the API documents and the sample files - briefly - the schemas appear to be more alike than different.

1. Which of the two following missions looks like being the better short term plan?
    * Build a single app that browses, loads, displays and edits files from either schema
    * Build two apps with customizations tailored speci

[2020-05-04 13:19] mostaphaRoudsari commented on #113
Hi @theo-armour, Thank you for posting these questions. I give it a try and @chriswmackey will add more details for what I will miss.

1. I prefer one application for both. Dragonfly-schema is a simplified version of honeybee-schema when it comes to geometry. They both share the metadata for different simulation properties. A detailed documentation of the honeybee-schema can be find here: https://

[2020-05-04 15:06] #102 closed

[2020-05-04 17:23] mostaphaRoudsari commented on #72
I think this is already happening whenever possible. This case is a specific one where the same name has different meaning in the two objects.

@chriswmackey, what is your take on this? Should we make the change or close this issue?

[2020-05-04 21:36] chriswmackey commented on #113
Thanks for the question, @theo-armour and thanks for taking a stab at them @mostaphaRoudsari .

1. I think it might be best if the honeybee schema is the only one that we build a viewer for right now.  All dragonfly models can be converted to honeybee models and so building a viewer for Honeybee essentially means that we have a viewer for both Dragonfly and Honeybee. The inverse is not true, thoug

[2020-05-04 23:13] MingboPeng opened #121 "Void modifier isn't exported correctly within global_modifier_set"
I am using this exported model to test schema .net: https://raw.githubusercontent.com/ladybug-tools/honeybee-schema/master/samples/model/model_complete_single_zone_office.json

In global_modifier_set, this void modifier shouldn't be existed alone with other modifiers unless I am misunderstanding this modifier:
![image](https://user-images.githubusercontent.com/9031066/81022025-922ea800-8e3a-11ea-8

[2020-05-04 23:48] mostaphaRoudsari commented on #121
@MingboPeng, this looks right to me. It's basically equal to this radiance material:

[code]

There is no separate void modifier. What would you expect to see?

[2020-05-05 01:26] MingboPeng commented on #121
@mostaphaRoudsari thanks for explaining, I think I found the reason causing issues:

**1. Type:** is there any specific reason that we use all lowercase here, while the rest objects are all pascal case (glass vs Glass).
![image](https://user-images.githubusercontent.com/9031066/81027297-42a4a800-8e4b-11ea-8861-43362ed5d64b.png)

**2. Optional:** adding a default vale already makes this field optio

[2020-05-05 01:29] chriswmackey commented on #113
I also just realized that the 4 large JSON samples that I gave you on the google drive are probably pretty bad given a bug that I just discovered in the export process from Rhino. Let me re-export them now.

[2020-05-05 01:31] theo-armour commented on #113
@chriswmackey

They mostly seem OK to me

https://glitch.com/~honeybee-viewer-lt-2020-05-03

[2020-05-05 01:38] mostaphaRoudsari commented on #113
Hey @chriswmackey, thanks! Is there a reason that we don't put them on GitHub instead of Google Drive? Thank you for fixing them. Then there is a good chance that the viewer works fine just as is.

[2020-05-05 01:38] chriswmackey commented on #113
Well, I can at least say that the lab complex and my mother and law's house had way more vertices than they should have. I just uploaded two new versions of them. The urban one should be all good and it looks beautiful in your viewer!

[2020-05-05 01:40] chriswmackey commented on #113
The reason why I didn't push them to github is because of issues like the one I just encountered. They are going to be outdated and incorrect fast because I have manually re-export them each time.

[2020-05-05 01:42] chriswmackey commented on #113
If it's critical that we have some reliable samples of large models, I can invest some time into making Python scripts that we can automatically re-run every time there is an update to the schema. But I don't want to put samples on github unless we can reliably and automatically re-make them every time we change stuff.

[2020-05-05 01:55] chriswmackey opened #123 "Invest some time in making sample files of large models"
Right now, the only large models that we have are on a google drive and they are "unofficial" because they are not regularly updated and quickly become out-of-date. The only reason for this is that they are currently exported manually from Grasshopper. If I could invest some time in writing Python scripts that regenerate the models every time that we change the schema, we could have a stable resou

[2020-05-05 01:56] chriswmackey commented on #113
It seems like it's going to be worthwhile to have regularly-updated large models to help with the viewer development so I opened an issue (https://github.com/ladybug-tools/honeybee-schema/issues/123) and I will try to get to it soon.

[2020-05-05 02:17] saeranv commented on #112
Also, I'll add that doing will cut out the circular import we have currently, where the Shade object that is a property in various State objects, contains a reference to State objects. More detail here: https://github.com/ladybug-tools/honeybee-schema/pull/111

[2020-05-05 02:50] saeranv commented on #121
I believe only adding a default of None makes it nullable. But in the refraction_index case because we have a non-None default, but we need to have None as an potion, we have defined it explicitly as an Optional.

[2020-05-05 08:42] theo-armour commented on #123
@chriswmackey

And as the dust settles, I can probably put together a gbXML to Honeybee Schema converter.

[2020-05-05 09:28] theo-armour commented on #113
The Wiki at https://github.com/ladybug-tools/honeybee-schema/wiki looks like it could really help. I did not know or had forgotten its existence. Kindly add a big link in the Read Me and in the API docs.

***
@mostaphaRoudsari @chriswmackey

Thank for the detailed and thoughtful feedback. You have clarified and simplified my thinking. Do the following points sound OK to you?

Recapitulation

1. Th

[2020-05-05 12:53] #78 closed

[2020-05-05 12:59] mostaphaRoudsari commented on #113
I very much like the idea of using user_data field for now for model and version until we have an standard way to distinct the models from each other.

[2020-05-05 13:05] MingboPeng commented on #121
@saeranv

Yes, all the modifiers are lowercase, and the rest are not.

But make default =1.52 won't make it nullable.

So why do we want refraction_index as None while default can be 1.52? What does None mean for refraction_index?

[2020-05-05 13:12] mostaphaRoudsari commented on #121
1. I think the root of the lowercase implementation is how we use them in honeybee-radiance to recreate the modifiers. We can update this if it is causing issues for you @MingboPeng but it takes some work to ensure it doesn't break anything in honeybee-radiance.

2. The complexity here comes from how Radiance glass object works. We had a long discussion over this and I insisted not to put the 1.52

[2020-05-05 14:04] MingboPeng commented on #121
@mostaphaRoudsari
1.  I would suggest to keep all naming convention constant. One place that is causing is in AnyOf type in C#, which I have full control, I cam fix this for AnyOf type if it has to be lowercase. But I don't know if it would cause anywhere else that I don't have control.

2.  I think this `Optional`  works well with `default 1.52` for `non-nullable` refraction_index in C#. It is al

[2020-05-05 14:14] MingboPeng commented on #121
@mostaphaRoudsari

I guess this refraction_index will be rarely set in Radiance, because in most common cases, users are using the normal glass. That's why you want not to add 1.52.

If this is true, can we create another class: GlassRI, in which refraction_index has to be set or by default 1.52, it cannot be null.
In normal Glass class, we can remove refraction_index field.

[2020-05-05 15:09] mostaphaRoudsari commented on #121
Re: refraction glass - yes. your understanding is correct. @chriswmackey, how do you feel about removing the refraction index from the dictionary when the value is not set? Do we have a rule for such keys in the Python library?

I can try to change the type from lower-case to upper case in both honeybee-radiance and the schema if @chriswmackey is fine with this change.

[2020-05-05 23:18] #112 closed

[2020-05-06 08:33] theo-armour commented on #123
New version:

https://honeybee-viewer-lt-2020-05-05.glitch.me

Provides access to all the models I know about. I note the older models seem to work fine, but the newer lab and mother in law files have issues. Please let me know if I should tackle the issues in the newer files or wait for further revisions.

Next release should begin to include Dragonfly Schema models.

[2020-05-06 08:37] theo-armour commented on #113
I think all issues here have been dealt with well enough for now

[2020-05-06 08:38] #113 closed

[2020-05-06 16:29] mostaphaRoudsari commented on #123
The lab looks fine on my side. Are these the older version or the newer one?

![image](https://user-images.githubusercontent.com/2915573/81202805-1d23b580-8f95-11ea-9d65-8e8ee8ee2bab.png)

@theo-armour, the performance is great and the fact that we can load a model easily is very nice!

[2020-05-06 23:47] chriswmackey commented on #123
@theo-armour ,

It's looking good. I think you might be using the older (poorly-exported) model for the lab complex.  Can you make sure that you are using the files here?
https://drive.google.com/open?id=1GwOP5Hh4McKjn-AwmLGfrxaTsBk3f5WF

[2020-05-07 09:06] theo-armour commented on #123
Looks OK to me now as well. I think the old files got stuck in a cache somewhere.

https://www.ladybug.tools/honeybee-viewer/viewer-lt/v-2020-05-06/

is up and *begins* to add Dragonfly parsing

![image](https://user-images.githubusercontent.com/547626/81275684-dd95b180-9006-11ea-9ae5-e45906a418e4.png)

**

So Honeybee Viewer LT is coming along nicely

We should bebegin to outline it's feature set

[2020-05-07 13:17] mostaphaRoudsari commented on #123
This is so good! <s>Is it already possible to include the minimal viewer in an HTML and point to a model file?</s> let's talk about it under the other issue for features.

[2020-05-07 13:56] mostaphaRoudsari opened #125 "Fix the viewer to load the schema"
After adding the Radiance properties the schema viewer doesn't render correctly. I just realized that we link to the schema from our website and we must fix it sooner than later.

It can be a bug in redocly and hopefully it is something that we can fix or report to be fixed.

[2020-05-07 14:49] MingboPeng commented on #121
@mostaphaRoudsari I have updated the dotnet schema to ignore all nulls from json file when de-serializing. This should be fine fro json file created by python with nulls at where it shouldn't be. But not sure if there is any other cases we want to keep nulls when we make null means something.

**But getting back to glass refraction index:**
If I read the generated [schema openApi file](https://git

[2020-05-08 20:40] #125 closed

[2020-05-09 04:08] saeranv opened #128 "Replace '[]' in schema arguments with 'None'"
There's a couple of places in the schema where we are using "[]" as a default, which we should be replacing with a "None". I've corrected all the ones I've found so far, but we should grep through the entire package to confirm.

[2020-05-10 13:51] mostaphaRoudsari commented on #121
`Optional` is effective when we use `Pydantic` to parse/generate the objects. As you pointed out it doesn't affect the OpenAPI specification. That's why you can set `refraction_index` to `None` in Pydantic and it will work fine. I'm realizing that this might not be a good practice since our tests will pass in Pydantic but then will fail in SDKs that are generated from the OpenAPI.

[2020-05-11 16:07] #107 closed

[2020-05-11 20:39] chriswmackey commented on #128
Addressed via https://github.com/ladybug-tools/honeybee-schema/pull/129

[2020-05-11 20:39] #128 closed

[2020-05-11 20:45] chriswmackey commented on #106
Addressed via https://github.com/ladybug-tools/honeybee-schema/pull/129/files

[2020-05-11 20:45] #106 closed

[2020-05-11 20:47] chriswmackey opened #131 "Document the Schemas for Radiance Skies"
Essentially all of the schemas in this folder:
https://github.com/ladybug-tools/honeybee-radiance/tree/master/honeybee_radiance/lightsource/sky

[2020-05-12 21:12] #110 closed

[2020-05-12 21:12] #108 closed

[2020-05-12 21:18] chriswmackey opened #134 "Can we remove the hidden classes from the OpenAPI specification?"
I just checked the most recent redocly rending of the schema and saw that a number of hidden classes are appearing in the specification:
![image](https://user-images.githubusercontent.com/5567574/81746352-51efab00-9474-11ea-9860-9bca7554252a.png)

Because these objects should never appear in a submitted Model, it intuitively feels like they should be excluded from the schema but I don't know if @M

[2020-05-12 21:22] chriswmackey opened #135 "Extend OpenAPI export script to export SensorGrid and View schemas"
And I have to add links to the index.html so that people can navigate to the Redocly rendering of them.

[2020-05-12 22:04] mostaphaRoudsari commented on #134
Hey @chriswmackey, yes. Ideally they should not be there.

Here is what's happening: We have two API specification documents. One is called `model.json` and the other one is `model_inheritance.json`.

The first one is generated by Pydantic and has minimum amount of modifications. The schema that is generated from Pydantic doesn't have any dependencies/inheritance between the objects. As a results

[2020-05-13 18:42] chriswmackey commented on #134
Sounds good, @mostaphaRoudsari , and thank you for the explanation. We will keep this issue open, then.

[2020-05-13 20:23] mostaphaRoudsari opened #138 "Missing enums from referenced enums"
Roughness in EnergyMaterialNoMass
Gas Types in EnergyWindowMaterialGasMixture

Reported by @MingboPeng.

Here is why it is happening: https://github.com/ladybug-tools/honeybee-schema/blob/3bb08375819ae85585c560ec63c877f1fee1d08e/honeybee_schema/_openapi.py#L201-L202

I should still update the object before returning False.

[2020-05-13 23:13] chriswmackey opened #140 "Merge Radiance Asset schemas (SensorGrid, View) into one"
This requires a change to the `_openapi` module to produce schemas for multiple objects at once.

[2020-05-13 23:16] #135 closed

[2020-05-14 13:56] #138 closed

[2020-05-15 20:28] #140 closed

[2020-05-20 03:21] MingboPeng opened #144 "Should default for ScheduleTypeLimit discrete?"
I might be wrong, but I have never seen any case that schedule type limit needs to be `continuous`. Maybe something related to the performance curves for HVAC components. But I think it is better to use `discrete` as default value.

https://github.com/ladybug-tools/honeybee-schema/blob/1dbc26bd82a18cbd1594ddac7a17ef652d7912b9/honeybee_schema/energy/schedule.py#L49

[2020-05-20 03:33] MingboPeng commented on #144
I think I misunderstood this. Continuous should be good.

[2020-05-20 03:33] #144 closed

[2020-05-20 19:16] #131 closed

[2020-05-31 01:19] chriswmackey commented on #121
Has this been addressed @MingboPeng  and @mostaphaRoudsari ?

Or do we need to go through the shcema and take out all use of `Optional`, replacing the default with `None` or using Unions of objects with `None` to ensure that `None` is acceptable?

[2020-05-31 14:50] mostaphaRoudsari commented on #121
Everything is working currently as is but we have to go back and fix this at some point.

I'm fine with removing `optional` as you suggested. It can be source of problems that are not ideal.

In the case of refraction index let's just go with the default value. I'm not sure if we want to make an object for float values. It's not ideal but a helpful compromise.

[2020-05-31 21:05] MingboPeng opened #151 "Missing Process Load"
We don't have a type of load for Process load (such as theatrical lighting) which is often needed in full energy models for certification and code compliance.

In OpenStudio, there is "Other Equipment" is used for this category.
![image](https://user-images.githubusercontent.com/9031066/83362566-51a24b80-a360-11ea-8b36-da2d44f029b8.png)

[2020-06-01 14:56] mostaphaRoudsari commented on #151
Thanks @MingboPeng! What do you think about this @chriswmackey?

[2020-06-17 04:15] MingboPeng opened #155 "Wrong anyof schedule in WindowConstructionShadeAbridged"
Schedule in **WindowConstructionShadeAbridged** should be a string type with length validations.
https://github.com/ladybug-tools/honeybee-schema/blob/2cb00c02f0ddc9b1d4387ad29382008619da61de/honeybee_schema/energy/construction.py#L148-L155

But in the output json file, anyOf type has been added.

![image](https://user-images.githubusercontent.com/9031066/84854369-74568480-b02f-11ea-8bd3-8e2d1a4a6

[2020-06-18 01:34] #123 closed

[2020-06-18 19:55] chriswmackey commented on #151
Sorry for the late response here, @MingboPeng . I somehow missed seeing this email amidst all of the git commits.

The original reason why I didn't include this is because all of none of the OpenStudio standards gem space types make use of this "Other Equipment" object. So the space types for kitchens use GasEquipment to account for stoves/ovens, the space type for MRI rooms in hospitals use Elect

[2020-06-18 20:08] chriswmackey commented on #155
Thanks for catching this, @MingboPeng . This was a typo on my part. I'm fixing it now.

[2020-06-18 20:27] #155 closed

[2020-06-19 21:14] chriswmackey commented on #151
I was thinking about this more last night and I realized that this is a better idea than I originally gave it credit for. It doesn't just give us a means to model things that we currently cannot account for but it also allows the current load objects in the schema to stay the way that they are without complicating them with more inputs.

In particular, I would really like to avoid changing the ass

[2020-07-06 22:15] chriswmackey opened #161 "Get CI to write the version of the schema into the OpenAPI specification"
I think this one is probably pretty quick. The OpenAPI schema definitions for honeybee models currently have a key to track the version of the schema used [here](https://github.com/ladybug-tools/honeybee-schema/blob/gh-pages/model.json#L8715) and [here](https://github.com/ladybug-tools/honeybee-schema/blob/gh-pages/model_inheritance.json#L8170). However, you can see now that it just has a meaningl

[2020-07-07 07:15] AntoineDao commented on #161
This should set the redoc docs on GH pages to have the correct version number. It's worth noting that the `honeybee-schema-dotnet` library [was already using the correct versioned schema JSON defs](https://github.com/ladybug-tools/honeybee-schema-dotnet/blob/e61d83873f78752f7e75b72b904bcf4f2f91547c/.openapi-generator/generate.sh#L10-L11) saved in the repository release assets.

Here it the current

[2020-07-08 08:55] #161 closed

[2020-07-18 01:42] mostaphaRoudsari opened #172 "Add the closing presentation to ReadMe or Wiki"
As I was sharing the link I thought having the video in ReadMe will be a very good place for people to start learning about honeybee schema.

[2020-07-22 03:22] chriswmackey opened #174 "Updating of the schema version in travis is not working"
I just checked and found out that the [PR here that attempted to update the version of the schema that appears in the API docs](https://github.com/ladybug-tools/honeybee-schema/pull/163) is not working. You can see clearly [on this line here in the generated documentation](https://github.com/ladybug-tools/honeybee-schema/blob/gh-pages/model.json#L8715) that the update from the Pydantic value of `"

[2020-07-22 03:26] chriswmackey commented on #174
From [the build history](https://travis-ci.org/github/ladybug-tools/honeybee-schema/builds/710183788) it looks like the docs stage is never running on Travis.

[2020-07-22 16:56] AntoineDao commented on #174
The `docs` job runs for a "tag" event rather than a "push to master" event: https://github.com/ladybug-tools/honeybee-schema/blob/58c9946217a988088a97192c4001e65bf48268b0/.travis.yml#L32-L33

As such I can confirm the `docs` job is running on each new release as shown [here](https://travis-ci.org/github/ladybug-tools/honeybee-schema/builds/709272786) and has been failing. The failure should be fix

[2020-08-06 00:13] MingboPeng opened #181 "Missing descriptions/default on Enum type parameter"
If I remember correctly this is related after updating the pydantic, right?
Here is an example that generated in C#:
![image](https://user-images.githubusercontent.com/9031066/89476086-c37b8480-d757-11ea-88cd-4f77a8736ed8.png)

cc @mostaphaRoudsari

[2020-08-06 00:38] mostaphaRoudsari commented on #181
Related: https://github.com/samuelcolvin/pydantic/pull/1749

If they decide not to merge this change into Pydantic then we should fork our own as we did before or add a post-processing to re-build the enum objects in OpenAPI definition.

[2020-08-07 22:10] AntoineDao opened #182 "Generate JSON Schema definitions as release assets"
We currently only release the OpenAPI definition schemas for the honeybee model. I think we could benefit from also generating the JSON Schema definitions and potentially test out something like [QuickType](https://github.com/quicktype/quicktype#generating-code-from-json-schema) to generate object models in multiple languages.

Here's an example script to generate the JSON Schema files:

[code]

[2020-08-07 23:50] MingboPeng commented on #182
Hi @AntoineDao,
What's the difference between  `JSON Schema definitions` and  `OpenAPI definition schemas` ?

[2020-08-10 17:19] chriswmackey commented on #174
We can close this now that I see the version is being written ok.

[2020-08-10 17:19] #174 closed

[2020-08-10 17:22] chriswmackey commented on #181
FYI, @MingboPeng . My workaround for this issue at the moment in the honeybee-openstudio-gem is that I just installed Pydantic from [PrettyWood's branch](https://github.com/PrettyWood/pydantic/tree/enum-title-description) and then generated the OpenAPI specification locally.

I'm not sure if you can do the same for the time being but hopefully it's not too much longer before they merge that PR.

[2020-09-08 17:45] chriswmackey commented on #17
I essentially added these checks into the most recent commit to honeybee-core. So I'm going to close this.

[2020-09-08 17:45] #17 closed

[2020-09-09 00:45] #19 closed

[2020-09-24 11:22] dependabot-preview[bot] opened #194 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/ladybug-tools) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/ladybug-tools/update-logs/48603393).

[2020-09-26 18:26] #194 closed

[2020-10-29 14:44] MingboPeng opened #202 "Make version read only"
The version in model is currently exposed as Model's parameter, which can be overridden.
Can we make it read only, so its value is fixed and cannot be changed in creating a model object.

https://github.com/ladybug-tools/honeybee-schema/blob/98e34a9f7d6d37c3b1345f70bb06d3e42b3a9dc5/honeybee_schema/model.py#L335

[2020-10-31 23:18] MingboPeng opened #204 "Lower-case class types for Radiance?"
Is this all lower case in type value intended? Or should we make it all CamelCase like the rest of objects?
https://github.com/ladybug-tools/honeybee-schema/blob/452b03379d88de902de1cdfc602750ae6f4b35cc/honeybee_schema/radiance/modifier.py#L23

[2020-11-02 15:38] mostaphaRoudsari commented on #204
We can change them to be uppercase I guess. @chriswmackey what's your opinion on this?

[2020-11-02 15:42] mostaphaRoudsari commented on #202
I like the idea so we just generated this based on the version of the honeybee-schema itself. That's a good approach. We can implement it in Pydantic and also set-it up to read-only when the OpenAPI is generated.

https://github.com/ladybug-tools/honeybee-schema/blob/713d2d3fa4a5c52b456d0ee8d0638979651fa5e2/docs.py#L61

[2020-11-02 20:21] MingboPeng opened #206 "Release assets naming"
I just noticed that original simulation parameter schema is changed to Energy simulation parameters.
But its mapper is named differently:
![image](https://user-images.githubusercontent.com/9031066/97915023-c66a1f00-1d1e-11eb-8b24-3524005e1d8c.png)

cc @mostaphaRoudsari

[2020-11-02 20:27] mostaphaRoudsari commented on #206
Thank you! Will take a look. It should be `Energy simulation parameters schema mapper`? Or do you want the Energy being removed from the name?

[2020-11-02 22:11] MingboPeng commented on #206
Yes, just a renaming issue.  "Energy simulation parameters schema mapper" works.

[2020-11-03 14:12] mostaphaRoudsari commented on #206
@MingboPeng, this has been like this from 7 months ago and is not a recent change actually:

https://github.com/ladybug-tools/honeybee-schema/blame/master/.releaserc.json#L39

I can still change the name if you think it will be helpful.

[2020-11-03 14:42] mostaphaRoudsari commented on #181
@MingboPeng, am I right that this has been resolved now that we updated to the new Pydantic 1.7?

[2020-11-03 15:28] #206 closed

[2020-11-03 23:15] MingboPeng opened #209 "Illegal space in enum items"
All these HVAC types that contains spaces are illegal as the enum item (I think in all languages), I'd suggest to replace space with "_".

https://github.com/ladybug-tools/honeybee-schema/blob/30c208e8020d18b83cc95b68fd05a7d9525c06eb/honeybee_schema/energy/hvac/allair.py#L46-L61

cc @mostaphaRoudsari  @chriswmackey

[2020-11-03 23:21] MingboPeng opened #210 "Illegal enum item starts with digit"
Following enum item that starts with digit (90.1-2013) which is illegal as enum item.  Meanwhile, "." dot is also not legal.

https://github.com/ladybug-tools/honeybee-schema/blob/071e5e3d5200a435f9970e4236ff6c892d96e0dd/honeybee_schema/energy/hvac/_template.py#L8-L14

cc @chriswmackey @mostaphaRoudsari

[2020-11-04 14:39] mostaphaRoudsari commented on #210
Hi @MingboPeng, Shouldn't these be legal since they are just simply strings? The key values comply with your needs as not being started with numbers and not having a `.`

[2020-11-04 14:49] mostaphaRoudsari commented on #209
This is valid in Python. Try this code:

[code]

That being said I'm not sure why we are subclassing from both str and Enum. That shouldn't make a difference though.

[2020-11-04 15:47] MingboPeng commented on #209
@mostaphaRoudsari , in Python, you use it like `VAVEquipmentType.vav_ac_chill_gbr` in stead of `VAVEquipmentType.VAV air-cooled chiller with gas boiler reheat`.

In OpenApi, `VAV air-cooled chiller with gas boiler reheat` is exported, but not `vav_ac_chill_gbr`

[2020-11-04 15:49] MingboPeng commented on #210
@mostaphaRoudsari in OpenAPI, above enum item's keys are not exported.

[2020-11-04 16:41] mostaphaRoudsari commented on #209
That's a challenge!  I can take care of post-processing the Enum values during the OpenAPI docs generation but that means that we will have different APIs.

@chriswmackey, what do you think about this? Is it OK if we add _ to the values? That will simplify and unify the process.

[2020-11-07 00:46] #202 closed

[2020-11-09 10:32] michaldengusiak opened #216 "unable to build"
Hi,

I just loaded the latest one and unable to build...any idea?

![image](https://user-images.githubusercontent.com/26113670/98530354-b0a4ae80-2276-11eb-8067-8122b8cae370.png)

[2020-11-09 12:13] #216 closed

[2020-11-10 23:34] MingboPeng commented on #72
This has been fixed.

[2020-11-10 23:37] MingboPeng commented on #181
This is fixed in new Pydantic.

[2020-11-10 23:37] #181 closed

[2020-11-23 03:48] mostaphaRoudsari opened #221 "OpenAPI documentation for Model is broken"
I tried a number of different combinations and none of them really works:

1. The schema that is generated from Pydantic is too large and redocly runs out of memory.
2. The schema with inheritance generates the document but most of the object fields are considered recursive and don't show up correctly. This is probably because we now inherit all the classes from the same baseclass.

The better sol

[2020-12-09 21:17] #182 closed

[2020-12-09 21:44] mostaphaRoudsari opened #232 "Fix version in docs"
@AntoineDao and @chriswmackey, during the transition to GitHub Actions I have broken the clean version. Since it wasn't a major issue I didn't spend time to figure it out right now but we should fix it at some point.

[2020-12-21 03:49] chriswmackey commented on #210
Am I correct in understanding that this is just an issue with the Pydanitc/OpenAPI Helper?  So there's no need to scrub characters out of these enums?

I should also clarify that I didn't choose these enums.  OpenStudio team did and I was just following their standard for consistency.  But, if we have to scrub the characters out of all of the repos, I can probably do it all in a day.

[2020-12-21 03:55] chriswmackey commented on #209
This is another convention that was chosen by OpenStudio team. I guess there's going to be inconsistency somewhere - either between Python and C# or Ladybug Tools and OpenStudio.  I don't know if one is really worse than the other.

Maybe enum is not the right type here?  Is there some other data structure that is more geared towards a list of text choices (rather than a list of objects as C# seem

[2020-12-21 04:00] chriswmackey commented on #204
You setup the honeybee-radiance library that way, @mostaphaRoudsari .  I assumed you had some reasoning behind it. I guess it was for consistency with radiance? Was there any other reason why you set it up this way?

[2020-12-21 04:16] chriswmackey commented on #232
I think we can close this now that the version is written into the docs.  We just need to stop the docs stage from happening every time a PR is sent and only do it on release. I'll fix it now.

[2020-12-21 04:23] chriswmackey opened #242 "Auto-release to honeybee-schema-dotnet does not happen with new Github Actions"
@AntoineDao established that this is because Github actions are not allowed to trigger other actions.  So doing the release with github now prevents the emit-release-event.yaml from happening.

@AntoineDao , is your suggestion to just merge this step into [the CI workflow](https://github.com/ladybug-tools/honeybee-schema/blob/master/.github/workflows/ci.yaml)?

[2020-12-21 04:50] chriswmackey commented on #232
Ah, wait. is `github.event.client_payload.version` not the correct way to access the semantic release version number, @mostaphaRoudsari ?

[2020-12-21 04:56] macumber commented on #242
Not to butt in but you actually can trigger another workflow from an action, you just have to explicitly use another access token and not the default `GITHUB_TOKEN`

https://github.community/t/trigger-a-workflow-from-another-workflow/17395/2

[2020-12-21 18:28] chriswmackey commented on #242
Thanks, @macumber . That link helped clear up a few things that aren't currently working in our Github workflows.  I'll try to add some new PATs and implement the fix soon.

[2020-12-21 18:30] chriswmackey commented on #221
Looks like this issue was resolved but was not properly linked to the PR. I'm closing it now.

[2020-12-21 18:41] macumber commented on #242
Yeah no problem, I struggled with that a bit too.  But it is a good call on GitHub's side because it prevents starting infinite action loops on accident.  This way you can only start infinite loops on purpose :-)

[2020-12-21 20:32] mostaphaRoudsari commented on #221
I would still consider this broken. I believe we have to report this to redocly team or just remove the type key for now which causes this issue.

![image](https://user-images.githubusercontent.com/2915573/102819557-a6abba80-43a1-11eb-96c6-e90456eff0cb.png)

[2021-01-04 22:56] MingboPeng commented on #210
Hi @mostaphaRoudsari in the openapi helper, could you export all enums with items that are the keys from Pydantic instead of the value? Or is there an option in Pydantic to set how to export the enums to openapi json? Or can we remove all values in enums items, only keep items keys?

[2021-01-08 20:06] #209 closed

[2021-01-08 20:06] #210 closed

[2021-01-22 19:24] #232 closed

[2021-02-16 18:46] MingboPeng commented on #72
This became an issue when a construction contains both layers and materials:
 https://github.com/pollination/rhino-plugin/pull/303#discussion_r577010066

[2021-02-16 19:17] MingboPeng opened #269 "Construction with both layers and materials"
In current Honeybee Schema, Construction has both layers and materials, which is not correct because of the inheritance between Abridged and non-abridged objects.
https://www.ladybug.tools/honeybee-schema/model.html#tag/opaqueconstruction_model
![image](https://user-images.githubusercontent.com/9031066/108110109-cb9a7200-7060-11eb-961a-965f27fa2975.png)

"Layers" in abridged object is not overridd

[2021-02-16 20:46] chriswmackey commented on #269
Yes, the docs and open API specification are correct. The reason why there are two separate keys is that you often have the same material repeated in a construction (eg. an interior wall with two sides of gypsum board). So layers is always the ids of the materials in the order that they appear in the construction the order of materials does not matter and, ideally, you should not repeat material d

[2021-02-16 20:49] chriswmackey commented on #269
FYI, the same goes for `day_schedules` in `ScheduleRuleset`. You often have the same day schedules used for a few different rules (or for both normal days and design days). So that's why it may seem like there's some duplicated keys over there as well but it's really not duplication.

[2021-02-16 20:52] MingboPeng commented on #269
So why don't we just use "materials" to create OpaqueConstruction without "layers" which is required in current schema? In Python, "layers" is not required for OpaqueConstruction
![image](https://user-images.githubusercontent.com/9031066/108120256-fdb2d080-706e-11eb-92df-c07da88dcf1d.png)

[2021-02-16 20:56] chriswmackey commented on #269
Because, in Python (and probably in C#), you have the same instance that you are using to assign a duplicated material layer.  In JSON, there's no such thing as instances.

If you want the C# class to work without specifying "layers", then you can do so. Just make sure that you add some code that automatically makes the layers when you serialize it to JSON.

[2021-02-16 20:59] MingboPeng commented on #269
So are you saying this OpaqueConstruction in Schema does not equal to to the OpaqueConstruction you have in Python?

[2021-02-16 21:00] chriswmackey commented on #269
I am saying that JSON does not equal a full language like Python or C#.

[2021-02-16 21:05] chriswmackey commented on #269
Maybe it also helps to know that I originally tried to implement it as you said but you end up with a lot of duplicated instances whenever something is reserialized and, ultimately, everything gets a lot slower, larger, and unmanageable as you scale up. We already made a big sacrifice in this area by exposing the non-abridged objects in the first place. The more that we try to make the JSON act li

[2021-02-16 21:14] mostaphaRoudsari commented on #269
@chriswmackey, I think part of the confusion comes from the description for materials. It doesn't mention that it should be unique materials. And it also has a clause that the material should be ordered which is not correct. That might help to explain the difference between the two better.

[2021-02-16 21:15] MingboPeng commented on #269
But isn't the JSON schema here for standardizing each object no matter which language we are using?
I understand we could face duplicated objects, but that is something we should be taking care of in each SDK when converting non-abridged to abridged objects before saving to model, instead of making the schema has a different behavior than what in each language .

[2021-02-16 21:18] MingboPeng commented on #269
So layers in Python is a readonly property which is created by materials. Layers here in schema is a required property when creating an instance of construction.
https://github.com/ladybug-tools/honeybee-energy/blob/209bab6d0eb08a89e15ef9a16d6e9e92a0669590/honeybee_energy/construction/_base.py#L84-L87
![image](https://user-images.githubusercontent.com/9031066/108122482-58016080-7072-11eb-8f56-1a06

[2021-02-16 21:19] chriswmackey commented on #269
Ah, good point, @mostaphaRoudsari . It seems that I forgot to update the description after I realized how bad things were when I originally had it with all of the duplicated materials instances. I can update the description.

I guess, if it will make your like a lot easier, @MingboPeng , we can just make the layers key optional. But I would not recommend using the optional-ness if you can avoid it

[2021-02-16 21:23] MingboPeng commented on #269
So why don't we convert it to abridged object before saving it to the model?  Isn't it what abridged designed for?

[2021-02-16 21:26] mostaphaRoudsari commented on #269
I think being consistent is more important. Changing the field to optional can create issues down the road.

@MingboPeng, I think a good compromise for now is to use it as is as long as we update the description to clarify these two fields are not the same. If you want to include all the duplicated materials in constructions it should still work. Right?

[2021-02-16 21:36] MingboPeng commented on #269
Fixing this by updating the description might fix it for this case. What I am afraid of is this is just one of many cases that we don't see.

I feel even we have a schema, but python and c# are using two sets "schema"s under the hood, and both of them are trying to convert it to the same schema, which is causing this issue that something doesn't match between two.

[2021-02-16 22:05] mostaphaRoudsari commented on #269
I understand your concern here @MingboPeng and I agree that we should keep the schemas and the SDKs in sync. This happens because the Python library is not really generated based of the schema. They are two separate entities and @chriswmackey has tried to keep them as close as possible. In an ideal world we should have done it the other way around to keep everything as consistent as possible.

I t

[2021-02-16 22:34] chriswmackey commented on #269
Thank you all. So it seems I will update the description and link this issue to the PR that I send.

And I realize that my explanation about the model growing in size wasn't exactly correct but there are a lot of other non-model serialization cases (eg. standards library serialization, serialization from IDF) where things can grow in size that I would really like to avoid.

I also understand your

[2021-02-16 22:49] MingboPeng commented on #269
I think we should just remove the layers in schema. The way I see it in Python, it is just a helper property like: unique_materisls, inside_emissivity, or r_value. Because you don't ask user to assign r value when creating the construction. Hopefully this makes sense.
![image](https://user-images.githubusercontent.com/9031066/108130584-e3ccba00-707d-11eb-9cbf-4d4183d28189.png)

Thanks @chriswmacke

[2021-02-16 23:10] #269 closed

[2021-02-17 03:42] chriswmackey opened #271 "Consider enabling duplicated sub-objects in Construction (and maybe ScheduleRuleset?)"
Today, @MingboPeng and @antonelloDN brought up the fact that their code would be cleaner if they could just assign full material objects directly to OpaqueConstruction and WindowConstruction in the order that they are layered, duplicating any repeated material objects in the JSON (and duplicating the material object instances upon re-serialization). This would eliminate the need for the `layers` k

[2021-02-17 03:42] chriswmackey commented on #72
This issue is closed but the remaining topics for discussion are outlined here:
https://github.com/ladybug-tools/honeybee-schema/issues/271

[2021-02-17 03:42] #72 closed

[2021-02-17 15:13] MingboPeng commented on #271
Thanks @chriswmackey, as I mentioned in the other issue: https://github.com/ladybug-tools/honeybee-schema/issues/269. For a short term fix, I am fine with either updating the description or eliminate the "layers" key.

If you want to talk about addressing it for a long term, I think it is better to set up a call with @mostaphaRoudsari @AntonelloDN together.

[2021-03-16 18:54] chriswmackey commented on #242
Hey @tymokvo ,

This is the CI issue that @MingboPeng had mentioned today, which should *hopefully* take a half a day to implement for someone who has worked a lot with GitHub actions before. The issue isn't critical but it would be a huge help if you could address this whenever you find you have some time or want to take a CI development break.

Basically, we just want to get [this action](https:

[2021-03-16 19:49] tymokvo commented on #242
Got it! Thanks for the ping. I will look into it when I need a break from the registry service.

[2021-03-18 20:41] chriswmackey opened #288 "Add process loads, elevator loads, and exterior lighting to HBJSON Rooms"
All of these items are currently missing and are pretty important for energy use estimation.

[2021-03-18 20:42] chriswmackey opened #289 "Add Photovoltaics to HBJSON models"
We know that the requests for this feature are coming and PV should probably have its own section under `ModelEnergyProperties`.

[2021-03-18 20:44] chriswmackey opened #290 "Add Detailed Service Hot Water System templates"
Right now, district heating is the only option, which is like the "Ideal Air Loads" of service hot water.

See this issue for more info:
https://github.com/ladybug-tools/honeybee-energy/issues/553

[2021-03-18 20:47] chriswmackey opened #291 "Add Radiant HVAC templates"
See here for more info:

https://github.com/ladybug-tools/honeybee-energy/issues/526

[2021-03-30 17:32] MingboPeng opened #300 "Move DaylightingControl out of Load."
We are using python modules to organize and generate C# interfaces.

This new DaylightingControl doesn't share any commons with the rest "load" classes
https://github.com/ladybug-tools/honeybee-schema/blob/fcc7ad90fa575aea2330d678a50f62d63e9954da/honeybee_schema/energy/load.py#L515

cc @chriswmackey

[2021-04-06 18:34] tymokvo commented on #242
Hi @chriswmackey ! I think I will need access to the ladybugbot user or have someone generate a PAT for it that I can use with this repo. In either case, I think I also need access to this repo's secrets to be able to add the token as a secret.

[2021-04-06 23:30] MingboPeng commented on #242
Hi @tymokvo I have added dependabot for honeybee-schema-dotnet repo, which should automatically update the dotnet side when there is a new version of honeybee schema related to pip.
https://github.com/ladybug-tools/honeybee-schema-dotnet/blob/master/.dependabot/config.yaml

[2021-04-07 00:07] tymokvo commented on #242
@MingboPeng cool! So can this issue be closed, then?

[2021-05-01 22:45] chriswmackey commented on #300
Sorry, I don't understand, @MingboPeng . Can't we just keep it under the load package because it relates to he Lighting load?

[2021-05-01 22:48] chriswmackey commented on #300
Also, so that you know the roadmap, I also intend to put process loads, elevator loads, and exterior lighting all under the "load" subpackage since I think this is where people would expect to find them.

[2021-05-02 01:28] MingboPeng commented on #300
Hi @chriswmackey, so in C#, we use the python module information to organize all loads with generated interface( "abstract base class"). In this case, all loads were based on `IDdEnergyBaseModel`, so in in generated interface "ILoad" I make it inherited from another interface "IIDdEnergyBaseModel". This basically means : all loads have to be based on IDdEnergyBaseModel.

So this `DaylightingContro

[2021-05-05 22:22] #300 closed

[2021-05-06 17:18] chriswmackey commented on #271
This issue was keeping me up last night and I really have to agree that the current implementation that I did is not the best. It isn't so much that it's not consistent between the core Python SDK and the Honeybee Model C# bindings as @MingboPeng mentioned. It's that it creates an internal inconsistency in the schema itself. All Abridged objects across the schema use the logic of replacing the pro

[2021-05-08 18:12] #271 closed

[2021-05-14 22:41] #204 closed

[2021-07-28 02:34] chriswmackey commented on #242
I think we can close this now that we have dependabot and I know how to implement it with actions if we ever need to do so.

[2021-07-28 02:34] #242 closed